
@media (min-width: 992px) and (max-width: 1199px)
{
.bnr-upr{ top:150px;}
.container, .bnr-upr .container, .work-sec .container, .expertsec .container, .testimonial .container{ max-width:940px; padding:0 15px;}
.bnr-upr h1 span{ font-size:16px;}
.bnr-upr h1{ font-size:24px;}
.bnr-inr h3 a{ font-size:24px;}
.bnr-inr em{ width:40%;}
.btnsec a.btn1{ padding:20px 30px; line-height:10px; font-size:18px;}
.work-sec h2{ font-size:40px;}
.expertsec a{ margin:30px 0; font-size:14px; padding:0 20px;}
.expertsec{ padding-bottom:0px;}
.clocksec h4{ font-size:90px;}
.clocksec h4 span{ font-size:40px;}
.clocksec .number{ font-size:44px;}
.clocksec h5{ font-size:28px; line-height:40px;}
.clocksec ul li{ width:50%; padding:0px;}
.testisec{ padding:20px;}
.testisec p{ font-size:20px;}
.expertsec h2{ font-size:24px; margin:35px 0 0;}
.form-inr ul li{ width:100%;}
.secinr ul{ float:left; width:100%; margin-top:15px;}
.firstsec ul li b{ font-size:14px; width:25px; height:25px; line-height:20px;}
.firstsec ul li span{ width:80%;}
.work-sec h3{ font-size:20px;}

.bnrtop h1{ font-size:38px;}
.inrrelat{ width:74%;}
}

@media (min-width: 768px) and (max-width: 991px)
{
.web-menu ul li a{ font-size:11px; padding:10px 8px;}
.container, .bnr-upr .container, .work-sec .container, .expertsec .container, .testimonial .container{ max-width:720px; padding:0 15px;}
.imgleft, .righttab, .imgleft1{ width:50%;}
.statusright{ width:35%;}
.web-menu ul li:nth-child(2){ width:190px;}
.web-menu ul li:nth-child(2) input[type="text"]{ width:100%;}
.web-menu ul li{ padding:0px;}

.bnr-upr{ top:100px;}
.bnr-upr h1 span{ font-size:16px;}
.bnr-upr h1{ font-size:24px;}
.bnr-inr h3 a{ font-size:24px;}
.bnr-inr em{ width:40%;}
.btnsec a.btn1{ padding:20px 30px; line-height:10px; font-size:18px;}
.work-sec h2{ font-size:40px;}
.expertsec a{ margin:30px 0; font-size:14px; padding:0 20px;}
.expertsec{ padding-bottom:0px;}
.clocksec h4{ font-size:90px;}
.clocksec h4 span{ font-size:40px;}
.clocksec .number{ font-size:44px;}
.clocksec h5{ font-size:28px; line-height:40px;}
.clocksec ul li{ width:50%; padding:0px;}
.testisec{ padding:20px;}
.testisec p{ font-size:20px;}
.expertsec h2{ font-size:24px; margin:35px 0 0;}
.form-inr ul li{ width:100%;}
.secinr ul{ float:left; width:100%; margin-top:15px;}
.firstsec ul li b{ font-size:14px; width:25px; height:25px; line-height:20px;}
.firstsec ul li span{ width:80%;}
.work-sec h3{ font-size:20px;}
.content-expert1{ width:70%;}
.bnr1sec li{ width:33.33%;}
.expertsec1s ul li span{ height:90px; width:90px;}
.expertsec1s ul li h3{ font-size:14px; line-height:14px;}
.content-expert1s p{ font-size:12px; line-height:17px;}
.content-expert1s { height:90px}
.imgleftsec .imgleft1{ width:100%;}
.imgleftsec .imgleft1 span{ width:90px; height:90px; line-height:90px; font-size:24px;}
.imgleftsec .biosec1{ width:70%;}
.imgleftsec .righttab{ width:100%;}
.imgleftsec .expertsec ul li span{ width:90px; height:90px;}
.imgleftsec .expertsec a{ margin:0px!important; padding:0px!important}
.imgleftsec .content-expert{ width:73%; height:90px;}
.imgleftsec .expertsec h2{ margin:0px;}

.bnrtop h1{ font-size:38px;}
.relatedsec ul li{ width:50%; margin-bottom:30px;}
.detailsec1s{ width:80%;}
.content-sec5s .expertsec1s ul li span{ width:80px; height:80px;}
.text-sec{ width:80%;}
.content-sec7s ul li label{ font-size:12px;}
.experts4s ul li span h3{ padding:0px;}
.experts4s ul li img{ width:85%;}
.tabswork ul li a{ font-size:14px;}
.costomersec h3{ text-align:center;}
.toptab3s h1{ font-size:26px;}
.costomersec h3 a{ float:none; display:inline-block; margin-top:15px;}
.custdetil h2{ font-size:28px; line-height:38px;}
.detailsec ul li h3{ font-size:18px; text-align:left;}
.qsmall2 b{ width:88%;}
.custdetil span{ width:120px; height:120px;}
.custdetil b{ width:79%;}
}

@media only screen and (max-width: 767px) 
{
.hidden-lg-up{ display:block ;}
.Hdr-home{ background:#61bed9;}
.navbar-collapse{ width:100%; float:left; position:relative; top:-25px;}
.navbar{ margin:0;}
.web-menu{ text-align:center;}
.web-menu ul{ padding:2px 0 0; background:#000; width:100%;}
.web-menu ul li.active a, .Nav ul li a:hover{ box-shadow:0px 0px 0px 0px #ff9c00 inset;}
.web-menu ul li{ float:left; padding:0px 0; background:none; width:100%; border-top:1px solid #999;}
.web-menu ul li:first-child{ border:0px;}
nav.navbar-expand-lg.navbar-expand-md.navbar-dark{ width:100%;}
.web-menu ul li a { padding:5px 0 8px; font-size:16px;}
.navbar-light .navbar-toggler { padding:0; float:right; width:36px; background-image:url(../images/mbl_nav_btn.png); background-repeat:no-repeat; background-position:center; background-color:transparent; border-radius:5px; background-size:100% 100%; height:30px; margin:1px 0px 14px 20px; border:1px solid #fff;  cursor:pointer; outline:none; position:relative; top:-35px; right:0px;}
.Nav a.navbar-brand{ width:70%;}
.float-right{ width:auto!important; margin-right:50px; padding-top:6px; background:none!important;}
.float-right li{ border:0px!important; width:auto!important; padding:0 10px!important;}
#navbarResponsive h3{ display:none;}
.Hdr{position: relative; height:70px;}
.site-logo{ width:35%; position:absolute; top:12px; padding:0px;}
.search-sec h1{ font-size:26px; margin-bottom:10px;}
.search-sec h3{ font-size:16px;}
.site-logo a{ margin:0px!important;}
.web-menu{ width:100%;}
.web-menu ul li a{ font-size:14px; padding:0px}
.container{ padding:0 15px;}
.adsec{ margin-top:3px;}
.bnr, .bnrs{ margin:0px;}
.imgleft, .statusright, .imgleft1, .righttab{ width:100%; text-align:center; margin-bottom:10px;}
.imgleft span, .imgleft1 span{ float:none; display:inline-block; margin:0px;}
.content-sec h3{ margin-top:20px; text-align:center;}
.web-menu ul li:nth-child(2) input[type="submit"]{ left:85px;}
.content-sec1 ul li label{ font-size:12px;}
.content-sec1 input[type="text"], .content-sec1 input[type="number"], .content-sec1 select, .content-sec1 textarea{ font-size:12px;}
.img-sec, .content-sec2 input{ width:100%;}
.mdlsec .collapse ul li a{ text-align:left;}
.bnr-upr{ top:0px;}
.bnr-upr h1 span{ font-size:16px;}
.bnr-upr h1{ font-size:24px;}
.bnr-inr h3 a{ font-size:24px;}
.bnr-inr em{ width:40%;}
.bnr-inr ul{ display:none;}
.btnsec a.btn1{ padding:10px 20px; line-height:10px; font-size:15px; float:left; width: auto;}
.btnsec a{ float:left; width:auto; line-height:44px; color:#fff;}
.work-sec h2{ font-size:40px;}
.expertsec a{ margin:30px 0;}
.expertsec{ padding-bottom:0px;}
.clocksec h4{ font-size:100px;}
.clocksec h4 span{ font-size:50px;}
.clocksec h5{ font-size:28px; line-height:40px;}
.clocksec ul li{ width:50%; padding:0px;}
.testisec{ padding:20px;}
.testisec p{ font-size:20px;}
.dropdown-content{ width:100%; padding:5px 20px; z-index:1;}

.ftr, .ftrbtm{ padding:30px 0;}
.ftrsec li, .ftrbtm ul li{ width:100%; margin-bottom:20px;}
.ftrsec li h3{ margin-bottom:0px;}
.ftrbtm h4{ margin-top:20px;}
.content-expert1{ text-align:left; width:100%;}
.content-expert1 h3{ text-align:left!important; margin-top:20px!important;}
.exprt1, .exprt2, .btnexprt{ width:100%;}
.content-sec2s ul li label{ padding:10px 5px;}
.adsec{ margin-right:50px;}
.bnr1{ margin:0px;}
.bnr1sec li{ width:100%; margin-bottom:15px;}
.tabsec ul{ margin-bottom:30px;}
.expertsec1s ul li span{ margin:0 auto; float:none;}
.exprt1s, .exprt2s{ width:100%; text-align:center;}
.content-expert1s{ width:100%; margin:10px 0;}
.biosec1{ width:100%; margin:10px 0;}
.imgleftsec .imgleft1 span{ width:90px; height:90px; line-height:90px; font-size:24px;}
.imgleftsec .expertsec { margin:0px!important;}
.imgleftsec .expertsec ul li{ text-align:center;}
.imgleftsec .expertsec ul li span{ margin:0 auto; float:none;}
.imgleftsec .content-expert{ width:100%;}
.expertsec h2{ text-align:center;}

.bnr1secs li{ width:50%;}
.relatedsec ul li{ width:100%; margin-bottom:30px;}
.anssec ul{ border:0px;}
.anssec1 h2, .anssec1 form, .anssec1 ul{ padding-left:0px;}
.anssec ul li h3{ text-align:left;}
.anssec1{ margin-top:30px;}
.inrsec-col4{ width:100%;}
.cont-sec{ width:80%;}
.detailsec1s{ width:80%;}
.imgarea img{ width:100%; max-height:inherit; height:auto;}
.prosec h5{ margin-bottom:30px; width:100%; float:left;}
.toptab1 h1{ font-size:23px; line-height:normal;}
.qusarea{ width:100%;}
.anssec2 ul{ border:0px; padding:20px 0;}
.leftcont{ width:80%;}
.leftcont h3{ margin:0px; text-align:left;}
.qusarea{ height:36px; line-height:36px; padding:0 10px; margin-bottom:15px;}
.content-sec5s .content-expert1s{ width:100%; height:auto;}
.bnr2{ margin:0px;}
.toptab2 ul li{ width:33.33%!important; text-align:center; padding:0 15px!important;}
.toptab2 strong, .toptab2 h4, .toptab2 b{ width:100%; float:left; padding:5px 0 0;}
.toptab2 ul li span, .toptab2 .icon{ margin:0 auto 5px; display:inline-block; float:none;}
.anssec3 ul{ border:0px; padding:20px 15px;}
.text-sec h3{ text-align:left; margin:0px;}
.text-sec{ width:80%;}
.content-sec6s ul li:nth-child(3) input[type="text"]{ width:72%;}
.content-sec6s h2{ margin-top:50px;}
.content-sec7s{ margin:0px;}
.rightpre{ padding-top:20px;}
.content-sec7s ul li label{ font-size:12px; padding:10px 5px; width:34%;}
.content-sec7s textarea, .content-sec7s ul li input[type="text"], .content-sec7s ul li select{ width:66%;}
.secthrd label{ width:28%!important;}
.experts1s h3{ text-align:left; margin-top:0px;}
.toptab3s h1{ font-size:26px; line-height:30px;}
.contbtm h3, .experts3s h3{ text-align:left;}
.bnr4{ margin:0px; padding-bottom: 160px; background-size: 650px 281px;}
.bnr4 h1{line-height: 36px; font-size: 28px;}
.experts4s ul li b, .experts4s ul li span{ width:100%!important;}
.experts4s ul li img{ float:none; display:inline-block;}
.experts4s ul li{ text-align:center;}
.experts4s ul li span h3{ padding-top:0px;}
.tabswork ul li{ width:100%;}
.inrwork p{font-size: 15px; line-height: 21px;}
.costomersec h3, .costomersec h4{ text-align:center;}
.toptab3s h1{ font-size:26px;}
.costomersec h3 a, .costomersec h4 a{ float:none; display:inline-block; margin-top:15px; width:100%;}
.costomersec ul li{ width:100%;}
.topcust h4, .topcust h3{ border:0px; padding:0px; text-align:left;}
.current h3, .current h4{ width:100%;}
.current{ text-align:center;}
.custdetil span{ width:100px; height:100px; margin:0 auto; float:none; display:inline-block;}
.custdetil{ text-align:center;}
.custdetil b{ width:100%;}
.custdetil h2{ font-size:24px; line-height:38px;}
.bubble1{ width:85%;}
.qsmall2 b{ width:78%;}
.btnsec{ border:0px; padding:0px;}
.bnr-sec img{ height:270px;}
.site-logo img {width: 63%; height: auto;}
.search-bar{visibility: hidden; display: none !important;}
.content-sec1 ul li label{ padding:10px 5px;}
.noticform h3{ text-align:left;}
.li0mg ul li label{ font-size:11px;}
.expertse8s h3{text-align:left;}

}
@media only screen and (max-width: 479px) 
{
}
@media only screen and (max-width: 375px) 
{
.content-sec2s ul li label{font-size:10px!important;}
.cont-sec{ width:75%;}
.leftcont{ width:75%;}
.content-sec6s ul li:nth-child(1) label, .content-sec6s ul li:nth-child(2) label, .content-sec6s ul li:nth-child(3) label{ padding:10px 5px; font-size:12px;}
.content-sec7s ul li label{width:44%;}
.content-sec7s textarea, .content-sec7s ul li input[type="text"], .content-sec7s ul li select{ width:56%;}
.costomersec h3, .costomersec h4{ padding:0px; font-size:18px; line-height: normal;}
.qsmall2 b{ width:70%;}
.bubble1{ width:80%;}
.bnr-inr h4{ display:none;}
.bnr-sec img{ height:auto;}
.site-logo img {
    width: 70%;
}
.costomersec h3, .costomersec h4{ padding:0px; font-size:18px; line-height: normal;}
.qsmall2 b{ width:70%;}
.bubble1{ width:80%;}
.li0mg ul li label{width:40%;}
.li0mg ul li input[type="password"]{ width:60%;}
}
@media only screen and (max-width: 320px) 
{
.bnr-sec img{ height:210px;}
.site-logo img {
    width: 80%;
}
}
.text-green{
    font: green;
}
.content-sec1 ul li button.confirm {
    background-color: #41ca6d;
    background-image: -webkit-linear-gradient(top, #41ca6d, #2cc55d);
    color: #fff;
    border: 1px solid #239d4a;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%);
    text-shadow: 0 1px 0 rgb(0 0 0 / 30%);
    height: 40px;
    line-height: 39px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    width: 250px;
    margin-top: 15px;
}
.search-dropdown input, .ques-search-dropdown input{
    height: 43px;
}
.search-dropdown{
    width: 35px;
}
.ques-search-dropdown, .search-dropdown{
    font-size: 20px;
}
.m-l-5{
    margin-left: 5px;
}
.added-to-fvrts{
    background: #41ca6d !important;
    color: white !important;
    border: #41ca6d !important;
}