/*landing page*/



.bnr-sec{ width:100%; float:left; position:relative;}

.bnr-sec img{ width:100%; float:left; height:auto;}

.Hdr-home{ background:none;}

.bnr-upr{ width:100%; float:left; position:absolute; top:225px; left:0px;}

.bnr-upr .container, .work-sec .container, .expertsec .container, .testimonial .container{ max-width:1260px;}

.bnr-upr h1{ font-size:76px; color:#fff; font-weight:700; font-family: 'Roboto', sans-serif; margin:20px 0 10px;}

.bnr-upr h1 span{ font-size:36px; font-weight:400;}

.bnr-inr{ width:100%; float:left;}

.bnr-inr h3 a{ font-size:30px; color:#fff; font-family: 'Roboto', sans-serif; float:left; width:100%; line-height:30px; margin-bottom:10px;}

.bnr-inr span{ width:15px; border:2px solid #fff; height:15px; display:inline-block; border-radius:50%; float:right; margin-top:8px;}

.bnr-inr em{ border-top:1px solid #fff; width:70%; float:right; margin-top:15px;}

.bnr-inr h2{ color:#fff; line-height:24px; display: inline-block; font-size: 10px; letter-spacing: 2.5px; margin: 3px 0 0; opacity: 0.5; text-transform: uppercase;}

.bnr-inr h4{ color:#fff; line-height:24px; display: inline-block; font-size: 20px;  margin:0 0 10px;}

.bnr-inr ul{ width:100%; float:left; margin-bottom:14px;}

.bnr-inr ul li{ display:inline-block;}

.bnr-inr ul li a{background-color: #051c22; border-radius: 2.5px;  color: #fff; font-size: 12px; padding: 5px 10px;}

.btnsec{ width:100%; float:left;}

.btnsec a{ font-size:21px; color:#fff; margin-left:20px; font-family: 'Roboto', sans-serif; }

.btnsec a.btn1{background-color: #18cf8f; border-radius: 6.25px; display: inline-block; font-size: 30px; font-weight: 600; line-height: 38px;

color: #fff;  padding: 20px 60px; margin: 10px 0; text-align: center; cursor: pointer; transition: all 0.2s; text-decoration: none; font-family: 'Roboto', sans-serif; }

.btnsec a.btn1:hover{ background-color:#0d7b55;}



.work-sec{ width:100%; float:left; padding:40px 0;}

.work-sec h2{color: #26272a; font-size: 72px; margin:20px 0 20px; line-height:1.1;}

.work-sec h3{ font-size:24px; border-bottom: 1px solid rgba(38,39,42,0.28); margin-bottom: 20px; padding-bottom: 10px; color:#242424; font-weight:600; margin-top:20px; font-family: 'Roboto', sans-serif;}

.firstsec{ width:100%; float:left; padding-top:10px;}

.firstsec ul{ width:100%; float:left;}

.firstsec ul li{ width:100%; float:left; margin-bottom:10px;}

.firstsec ul li em{ float:left; width:10%;}

.firstsec ul li b{ float:left; font-style:normal; color:#979797; width:40px; height:40px; border:2px solid rgba(151,151,151,0.4); border-radius:50%; font-size:16px; line-height:37px; text-align:center;}

.firstsec ul li span{ float:right; width:87%;}

.firstsec ul li span h4{ font-size:16px; margin-bottom:5px; line-height:24px; color:#000; font-family: 'Roboto', sans-serif;}

.firstsec ul li span p{ font-size:12px; margin-bottom:5px; line-height:21px; color:#000; font-family: 'Roboto', sans-serif;}



.thrdsec{ width:100%; float:left; padding-top:10px;}

.thrdsec a{ font-size:16px; line-height:22px; color:#52a1b8; font-family: 'Roboto', sans-serif;}



.form-inr{ width:100%; float:left; padding-top:10px;}

.form-inr form{ position:relative;}

.form-inr input[type="text"]{ height: 34px; border-radius: 17px; padding-left: 35px; padding-top: 6px; padding-bottom:6px;  padding-right: 10px;

background:#f5f5f5;  color: #6e7079; border:0px solid #fff; box-shadow:inset 1px 1px 1px 0px rgb(0 0 0 / 13%)!important;font-size:15px;width:100%;}

.form-inr input[type="submit"]{ position:absolute; top:0px; left:5px; z-index:1; color:#6e7079; background:none; border:0px;  font-size:14px; height:34px; line-height:32px;}

.form-inr ul{ padding:10px 0;}

.form-inr ul li{ width:50%; float:left; margin-bottom:10px;}

.form-inr ul li a{font-size:15px; font-weight:400; line-height:24px; color:#52a1b8; font-family: 'Roboto', sans-serif;}

.btnwork a{font-family: 'Roboto', sans-serif; line-height:24px; font-size:16px; width:100%; float:left; text-align:center; border:3px solid #5dbedb; color:#5dbedb; padding:5px 30px; margin:50px 0 10px; border-radius:5px;}

.btnwork a:hover{ background:#5dbedb; color:#fff;}

.secinr{ width:100%; float:left; padding-top:12px;}

.secinr a{ font-size:12px; color:#848484; float:left; line-height:1; letter-spacing:0.34px;opacity:0.79;}

.secinr ul{ float:right}

.secinr ul li{ display:inline-block; margin:0 4px 10px 0;}

.secinr ul li img{ width:20px; height:20px; border-radius:50%;}



.expertsec{width:100%; float:left; padding:40px 0;}

.bgsec{background-color: #f7f6f1; border-radius: 5px;  text-align: center; padding: 20px 10px;}

.expertsec h2{color: #6e7079; font-size: 30px; font-weight: inherit; margin:20px 0 10px; line-height:1.1; font-family: 'Roboto', sans-serif;}

.expertsec p{color: #6e7079; font-size: 15px; font-weight: inherit; margin:0px; line-height:24px; text-align:left;}

.expertsec a{ font-size: 21px; margin: 5px 0 0 0; padding: 10px 50px; background-color:#5dbedb; border-radius:6.25px; display:inline-block; font-weight:600; line-height:38px; color:#fff;}

.expertsec a:hover{ background-color:#237088;}



.testimonial{ width:100%; float:left; padding:40px 0; background:#rgba(67,195,234,0.5); background-image:linear-gradient(-45deg, #84d5ee 0%, #2c8aa6 100%);}

.testisec{ background-color: #fff; box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 15%); border-radius: 10px; margin-left: 10px; margin-right: 10px;   padding: 50px; text-align: center;}

.testisec p{color: #6e7079; font-size: 24px; line-height: 36px; margin-bottom:10px;}

.testisec span{ margin:0 auto; display:inline-block;}

.testisec span img{ border-radius:50%; width:64px; height:64px;}

.testisec h3{color: #6e7079; font-size: 20px; margin: 10px 0 0; line-height:24px;}

.testisec h4{color: #6e7079; font-size: 16px; margin: 0px 0 10px; line-height:24px;}

.clocksec{ padding:50px 30px 40px;}

.clocksec .clock {

    height: 270px;

    width: 270px;

    background-color: transparent;

    box-sizing: border-box;

    border-radius: 100%;

    border: 10px solid #247992;

    position: absolute;

    top: 0;

    left: 6px;

}

.clocksec .clock .top {

    position: absolute;

    width: 3px;

    height: 8px;

    background: #247992;

    left: 0;

    right: 0;

    margin: 0 auto;

}

.clocksec .clock .right {

    position: absolute;

    width: 8px;

    height: 3px;

    background: #247992;

    top: 0;

    bottom: 0;

    right: 0;

    margin: auto 0;

}

.clocksec .clock .bottom {

    position: absolute;

    width: 3px;

    height: 8px;

    background: #247992;

    left: 0;

    right: 0;

    bottom: 0;

    margin: 0 auto;

}

.clocksec .clock .left {

    position: absolute;

    width: 8px;

    height: 3px;

    background: #247992;

    top: 0;

    bottom: 0;

    left: 0;

    margin: auto 0;

}

.clocksec .clock .center {

    height: 6px;

    width: 6px;

    position: absolute;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

    margin: auto;

    background: #247992;

    border-radius: 100%;

}

.clocksec .clock .hour {

    width: 3px;

    height: 100%;

    position: absolute;

    left: 0;

    right: 0;

    margin: 0 auto;

    -webkit-animation: time 60s infinite linear;

    animation: time 60s infinite linear;

}

.clocksec .clock .hour:before {

    position: absolute;

    content: "";

    background: #247992;

    height: 90px;

    width: 3px;

    top: 30px;

}

.clocksec .clock .minute {

    width: 1px;

    height: 100%;

    position: absolute;

    left: 0;

    right: 0;

    margin: 0 auto;

    -webkit-animation: time 30s infinite linear;

    animation: time 30s infinite linear;

}

.clocksec .clock .minute:before {

    position: absolute;

    content: "";

    background: #262626;

    height: 70px;

    width: 1px;

    top: 50px;

}

.clocksec .clock .second {

    width: 2px;

    height: 100%;

    position: absolute;

    left: 0;

    right: 0;

    margin: 0 auto;

    -webkit-animation: time 15s infinite linear;

    animation: time 15s infinite linear;

}

.clocksec .clock .second:before {

    position: absolute;

    content: "";

    background: #262626;

    height: 50px;

    width: 2px;

    top: 70px;

}

.clocksec h3{

    font-size: 30px;

    letter-spacing: 3.33px;

    text-transform: uppercase;

    opacity: 0.75;

    padding-left: 50px;

	color:#fff;

	line-height:1;

	font-weight:700;

}

.clocksec h4{ font-size:144px; line-height:1; color:#fff; font-weight:700; padding-left:14px;}

.clocksec h4 span{ font-size:70px; line-height:24px; position:relative; z-index:1;}

.clocksec h5{ font-size: 38px;  margin-bottom: 30px; opacity: 0.75; color:#fff; line-height:1; font-weight:200;}

.clocksec ul{

    border-top: 1px solid rgba(255,255,255,0.25);

    margin-bottom: 0;

    padding: 30px 0;

	float:left; width:100%;

}

.clocksec ul li{ width:33.33%; float:left; margin-bottom:20px; padding-right:40px;}

.clocksec .number{ color:#fff; line-height:1; display: block;  font-size: 54px; opacity: 1; text-shadow: 0px 0px 15px rgb(0 0 0 / 15%);}

.clocksec .content{font-size: 14px; opacity: 0.75; color:#fff; line-height:20px;}


.ftr .container{ max-width:1260px;}
.ftr{ background:#1d181f; width:100%; float:left; padding:70px 0; text-align:center;}
.ftrsec{ width:94%; margin:0 auto; display:inline-block;}
.ftrsec li{ width:20%; float:left;}
.ftrsec li:last-child h3 a{ border:0px;}
.ftrsec li h3 a{color: #fff; font-weight: 700;  letter-spacing: 2px; text-transform: uppercase; font-size: 16px; border-right:1px solid rgba(255,255,255,0.2);}
.ftrsec li h3{color: #fff; font-weight: 700;  letter-spacing: 2px;  padding:5px 0; margin:13px 0; text-transform: uppercase; font-size: 16px;}
.ftrsec li a{color: #979797; display: block; font-size: 14px; line-height: 20px; padding:5px 0; font-weight: 600; text-decoration: none; transition: color 0.3s; font-family: 'Roboto', sans-serif;}
.ftrsec li h4 a{color: #fff; font-size: 22px; display:inline-block; margin-right:10px;}
.ftrsec li h4{ padding-top:10px;}

footer{ position:relative;}
.ftrbtm{ width:100%; float:left; padding:40px 0; background:#2a262c;}
.ftrbtm h3{margin:0 0 40px; color: #fff; font-size: 14px; line-height:21px; text-align:center; width:100%; float:left;}
.ftrbtm h4{color: #7b8490; font-size: 12px; margin:40px 0 0; text-align: center; line-height:21px; width:100%; float:left;}
.ftrbtm h5{font-size: 12px; font-weight: 700; line-height: 1; padding: 6px 0; color:#7b8490; font-family: 'Roboto', sans-serif;}
.ftrbtm ul{ width:100%; float:left;}
.ftrbtm ul li{ width:16.66%; float:left; text-align:center;}
.ftrbtm ul li a:hover h5{ color:#b2b8bf;}
.ftrmdl{ width:100%; float:left; text-align:center; position:absolute; top:-24px;}
.ftrmdl a{ background:#1d181f; width:120px; margin:0 auto; display:inline-block; font-size:22px; color:#fff; padding:5px 0;}