body

{

	margin:0px auto;

	background:#fff;

	line-height:normal;

	overflow-x:hidden;

	font-family: 'Open Sans', sans-serif;

}



header, section, footer

{

	float:left;

	width:100%;

}



h1, h2, h3, h4, h5, h6

{

	padding:0px;

	margin:0px;

	letter-spacing:normal;

	text-transform:none;

	line-height:normal;

}



p

{

	padding:0px;

	margin:0px;

	letter-spacing:normal;

	text-transform:none;

	line-height:normal;

}



ul, ol

{

	list-style:none;

	margin:0px;

	padding:0px;

}



a:focus 

{ 

	outline:none;

}



a, 

input[type="submit"] { transition:all 0.4s ease-in-out 0s; -moz-transition:all 0.4s ease-in-out 0s; -ms-transition:all 0.4s ease-in-out 0s; -o-transition:all 0.4s ease-in-out 0s; -webkit-transition:all 0.4s ease-in-out 0s; text-decoration:none;}

a:hover{text-decoration:none;}



img { max-width:100%; }



input::-webkit-input-placeholder { opacity:1;}

input::-moz-placeholder { opacity:1; }

input::-moz-placeholder { opacity:1; }

input::-ms-input-placeholder { opacity:1; }



textarea::-webkit-input-placeholder { opacity:1; }

textarea::-moz-placeholder { opacity:1; }

textarea::-moz-placeholder { opacity:1; }

textarea::-ms-input-placeholder { opacity:1; }



select::-webkit-input-placeholder { opacity:1;}

select::-moz-placeholder { opacity:1; }

select::-moz-placeholder { opacity:1;}

select::-ms-input-placeholder { opacity:1; }



textarea:focus, input:focus, select:focus { outline: 0;}



.Hdr{ width:100%; float:left; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0); display: block;  height: 90px;  background: black; position: fixed;

top: 0; left: 0; right: 0;  z-index: 99999; transition: background-color 0.3s;}



/***** header ****/





.navbar {

	min-height:auto!important;

	padding:0px;

}

.primary {

	width:100%; 

	float:left; 

	text-align:center; 

	transition:all 0.4s ease-in-out 0s; 

	padding:0.5rem 1rem;

	background:#b90005;

}

.primary nav.navbar { 

	padding:0; 

	margin:0px; 

	border:0px;

}

.navbar-brand img { 

	width:100%; 

	transition:all 0.4s ease-in-out 0s;

}

.web-menu ul { 

	float:right; 

	padding:12px 0 0; 

	transition:all 0.4s ease-in-out 0s; 

	padding-right:0;

	margin-left:0px;

	text-align:center;

}

.web-menu ul li { 

	float:left; 

	display:inline-block;

	padding:0 12px;

}

.web-menu ul li a{ border-radius:0px; font-style: normal; font-weight:700;font-size: 16px;line-height: 34px; color:orange; text-decoration:none;}

.web-menu ul li:nth-child(2) input[type="text"]{

    height: 34px;

    border-radius: 17px;

    padding-left: 35px;

    background: fff;

    color: black;

	border:2px solid #fff;

}

.web-menu ul li:nth-child(2){ position:relative;}

.web-menu ul li:nth-child(2) input[type="submit"]{ position:absolute; top:0px; left:15px; z-index:1; color:black; background:none; border:0px;  font-size:20px; height:34px; line-height:32px;}

.web-menu ul li a:hover {

}

.navbar-collapse { 

	display:block;

}

.web-menu {

	width:80.5%; 

	float:right; 

	margin-top:14px;

}

.web-menu ul{

	display:inline-block;

	

}

.site-logo{ 

	float:left;

	width:115px;

	padding-top:20px;

	margin-left:10px;

}

.site-logo a{

	padding:0px;

	line-height:normal;

	height:auto;

	margin:0px;

}

.site-logo img{

	width:100%;

	height:auto;

}

.container{ max-width:940px; padding:0px;}

.adsec{ float:right; margin-left:10px; text-align:center; padding-right:5px; margin-top:12px;}

.adsec a{display:inline-block; text-decoration:none;}

.adsec span{ font-size:16px; font-weight:700; color:#fff; height:32px; line-height:32px; font-family: 'Open Sans', sans-serif; margin-right:6px;}

nav.navbar-expand-lg.navbar-expand-md.navbar-dark{ float:left;}

.adsec a img{ width:32px; height:32px; border-radius:50%; margin-right:10px;}

.dropdown-menu{ right:0px; left:inherit; width:220px; padding:5px 0; border:1px solid #c3c3c3; border-radius:4px; box-shadow:0 5px 10px rgb(0 0 0 / 20%);}

.dropdown-toggle::after{border-top:0.4em solid #fff; border-right:0.4em solid transparent; border-left:0.4em solid transparent; position:relative; top:2px;}

.dropdown-menu a{ font-size:15px; color:#666; padding:0 20px; line-height:34px; border-top:1px solid #ddd;}

.dropdown-menu a:hover{ color:#61bed9; background:#eff8fb;}

.dropdown-menu a:nth-child(1), .dropdown-menu a:nth-child(2), .dropdown-menu a:nth-child(3), .dropdown-menu a:nth-child(4), .dropdown-menu a:nth-child(6){ border:0px;}

/** Header end **/



li.dropdown{ padding-right:25px!important;}

.dropbtn { padding:0 15px 0 0; cursor:pointer;}

.dropbtn::after{ position:absolute; right:12px; top:8px; content:"\f107"; font:normal normal normal 20px/1 FontAwesome;}

.dropdown {

  position: relative;

  display: inline-block;

}

.dropdown-content {

  display: none;

  position: absolute;

  background-color: #fff;

  text-align:left;

  width:220px; padding:5px 0; border:1px solid #c3c3c3; border-radius:4px; box-shadow:0 5px 10px rgb(0 0 0 / 20%);

}

.dropdown-content a { font-weight:500!important; font-size:15px!important; color:#666!important; padding:0 20px; line-height:34px; width:100%; float:left;}

.dropdown-content a:hover {color:#61bed9!important; background:#eff8fb;}

.dropdown:hover .dropdown-content {display: block;}

.bnr{ width:100%; float:left; background:#f7f6f1; border:1px solid #e4e2de; min-height:120px; margin-top:90px; padding:25px 0;}

.bnr-sub{ min-height:44px; padding:0px;}

.bnr-sub a{ padding:0 0 0 20px; height:44px; line-height:42px; color:#61bed9; font-size:18px; position:relative;}

.bnr-sub a:after{ position:absolute; left:0px; top:-7px; content:"\f104"; font:normal normal normal 36px/1 FontAwesome;}

.bnr-sub button{ padding:0 0 0 0px; height:44px; line-height:42px; color:#61bed9; font-size:18px; position:relative; float:right; border:0px; background:none;}

.imgleft{ float:left; width:70%;}

.imgleft a{ text-decoration:none;}

.imgleft span{ background:#4b6dde; font-size:22px; line-height:100px; text-align:center; font-weight:600; width:100px; height:100px; border-radius:50%; display:inline-block; float:left; color:#fff; margin-right:20px;}

.imgleft h3{font-size: 18px; font-weight: 600; padding-left:15px; line-height: 25px; color: #393939; cursor: pointer; text-decoration:none; position:relative;}

.imgleft em{position: absolute; background:#ecbc4b; top:8px; left: 0px; width: 8px; height: 8px; border-radius:50px;}

.small-stats{ width:80%; margin:0 auto; text-align:center; padding-top:12px;}

.small-stats span.profile-stat{ display:inline-block; width:30%; height:18px; font-size:20px;}

.small-stats span{display: inline;  line-height: 18px; color: #a5a5a5; font-size: 12px;}





.statusright{ width:25%; float:right;}

.statusright h3{ text-transform:uppercase; display: block; height: auto; font-size: 18px;  color: #393939; text-align: center;  padding-bottom: 7px;}

.statusright a{ background-color:#70c4dc; background-image:-webkit-linear-gradient(top, #70c4dc, #57abc3); border:1px solid #4d98ad; color:#fff; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); width:100%; height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize;}

.statusright a:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}

.content-sec{ width:100%; float:left; padding:30px 0;}

.content-sec h2{font-size: 18px; line-height: 25px;  font-weight: 500;  color: #929292; margin-top: 0; margin-bottom: 20px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec h1{ padding:0px 0 30px; border-bottom:1px solid #e2e2e2; font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom:30px;}

.content-sec h3{font-size: 17px; line-height: 25px;  font-weight: 500;  color: #929292; margin-top: 0; margin-bottom: 20px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec ul.fcol{ width:100%; float:left; border:1px solid #d9d9d9; border-radius:4px;}

.content-sec ul.fcol li{line-height:20px; min-height:40px; font-size:18px; border-bottom:1px solid #d9d9d9; width:100%; float:left;}

.content-sec ul.fcol li:last-child{ border:0px;}

.content-sec ul.fcol li a{ padding:17px 30px 17px 15px;  font-size:12px; color:#888; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  text-decoration:none; width:100%; float:left; position:relative;}

.content-sec ul.fcol li a:hover{ background:#fafaf9;}

.content-sec ul.fcol li span{ font-weight:500; width:100%; color:#666; font-size:18px; float:left; text-decoration:none;}

.content-sec ul.fcol li a:after{ position:absolute; right:15px; top:25px; content:"\f105"; font:normal normal normal 20px/1 FontAwesome;}

.expert-cta-block {

    padding: 10px;

    background: #f7f7f7;

    border: 1px solid #d9d9d9;

    border-radius: 4px;

	width:100%; float:left;

}

.expert-cta-block p{

    font-size: 14px;

	text-align:justify;

    line-height: 18px;

    color: #929292;

    margin-top: 0;

    margin-bottom: 15px;

}

.expert-cta-block a{ width:100%; float:left; font-size:14px; color:#52a1b8; line-height:21px; text-align:center; font-weight:600;}

.expert-cta-block a.external{ background-color:#70c4dc; background-image:-webkit-linear-gradient(top, #70c4dc, #57abc3); border:1px solid #4d98ad; color:#fff; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); width:100%; height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; margin-top:20px;}



.content-sec ul.fcol1{ width:100%; float:left; border:1px solid #d9d9d9; border-radius:4px; margin-bottom:30px;}

.content-sec ul.fcol1 li{line-height:16px; min-height:40px; font-size:18px; border-bottom:1px solid #d9d9d9; width:100%; float:left;}

.content-sec ul.fcol1 li:last-child{ border:0px;}

.content-sec ul.fcol1 li a{ padding:14px 30px 14px 10px;  font-size:15px; color:#666; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; text-decoration:none; width:100%; float:left; position:relative;}

.content-sec ul.fcol1 li a:hover{ background:#fafaf9;}

.content-sec ul.fcol1 li a:after{ position:absolute; right:15px; top:12px; content:"\f105"; font:normal normal normal 20px/1 FontAwesome;}



.content-sec1{ width:100%; float:left; padding:30px 0;}

.content-sec1 h1{ padding:0px 0 20px;  font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec1 ul{}

.content-sec1 ul li{ width:100%; float:left; margin-top:20px;}

.content-sec1 ul li label{ width:28%; border-radius:4px 0px 0px 4px; min-height: 42px; background: #f8f8f8; font-weight: 500;text-align: right;    line-height: 22px;  position: relative; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; float:left; margin:0px;}

.content-sec1 input[type="text"], .content-sec1 input[type="number"], .content-sec1 select{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:44px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}

.content-sec1 select option{ color:#61bed9}

.content-sec1 ul li:nth-child(1){ margin-top:0px;}

.content-sec1 ul li h3{padding: 0; margin-top: -10px; font-size: 12px; font-weight: normal; font-style: normal; color: #9c9c9c;line-height: 18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec1 textarea{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:100px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}

.content-sec1 ul li:nth-child(5) label{ height:100px;}

.content-sec1 ul li:nth-child(8) select{ width:18%; border-radius:0px;}

.content-sec1 ul li:nth-child(8) input{ width:54%;}

.content-sec1 ul li input[type="submit"]{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:250px;}

.content-sec1 ul li input[type="submit"]:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}

.content-sec1s ul li label{ width:45%;}

.content-sec1s input[type="text"]{ width:55%;}



.content-sec2{ width:100%; float:left; padding:30px 0;}

.content-sec2 h1{ padding:0px 0 20px;  font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec2 ul{}

.content-sec2 ul li{ width:100%; float:left; margin-top:20px;}

.content-sec2 input{ background:#f8f8f8; padding:11px; border:1px solid #d9d9d9; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; border-radius:4px;}

.img-sec{ width:82%; float:left; padding:20px; border:1px solid #d9d9d9; background:#f7f7f7; border-radius:4px; text-align:center;}

.img-sec img{ background:#4b6dde; font-size:22px; line-height:100px; text-align:center; font-weight:600; width:100px; height:100px; border-radius:50%; display:inline-block; color:#fff; margin-right:0px;}



.content-sec3{ width:100%; float:left; padding:30px 0;}

.content-sec3 h1{ padding:0px 0 20px;  font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec3 ul{ width:100%; float:left; border-radius:4px; border:1px solid #d9d9d9; margin-bottom:10px;}

.content-sec3 ul li{ width:100%; float:left; margin-top:0px; border-bottom:1px solid #d9d9d9;}

.content-sec3 ul li:last-child{ border:0px;}

.content-sec3 ul li a{ width:100%; float:left; color: #bbb9b2; text-shadow: 0px 1px 1px #fff; line-height: 22px; padding: 12px;}

.content-sec3 ul li a:hover{ background:#fafaf9;}

.content-sec3 ul li em{ float:left; font-style:normal; font-size:15px; color:#bbb9b2; line-height:22px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec3 ul i{ margin-right:10px; font-size:22px; height:22px; float:left;}

.fa-twitter-square{ color:#32a9ec;}

.fa-facebook-square{ color:#405797;}

.content-sec3 ul li span{ float:right; font-style:normal; font-size:15px; color:#bbb9b2; line-height:22px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.content-sec3 h3{ font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; padding: 0; margin-top: -10px; font-size: 12px; font-weight: normal; font-style: normal; color: #9c9c9c;line-height: 18px;}





.bnrs{ width:100%; float:left; padding:30px 0; margin-top:90px;}


.imgleft1{ float:left; width:100%;}

.imgleft1 span{ background:#4b6dde; font-size:44px; line-height:120px; text-align:center; font-weight:600; width:120px; height:120px; border-radius:50%; display:inline-block; float:left; color:#fff; margin-right:20px;}

.imgleft1 h3{font-size: 22px; font-weight: 600; padding-left:0; line-height: 30px; color: #393939; cursor: pointer; text-decoration:none; position:relative;}

.imgleft1 em{position: relative; background:#ecbc4b; top:12px; left: 0px; width: 8px; height: 8px; border-radius:50px; float:left; margin-right:5px;}



.righttab{ float:right; width:100%; background:#f7f6f1; border:1px solid #e0ded9; border-radius:4px; box-shdaow:0 1px 2px rgb(0 0 0 / 5%);}

.topsec{ width:100%; float:left; padding:10px 0; border-bottom:1px solid #e0ded9;}

.topsec ul{}

.topsec ul li{ width:50%; float:left; text-align:center; font-size:18px; font-weight:700; border-right:1px solid #e0ded9;}

.topsec ul li:last-child{ border:0px;}

.topsec ul li h4{ font-size:; width:100%; float:left; font-size:12px; margin-top:2px; color:#000; font-weight:400; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.btmsec{

    border-top: 1px solid #e0ded9;

    text-align: center;

    padding: 15px 0;

    font-size: 12px;

    color: #9c9c9c;

    font-weight: 500;

	width:100%; float:left;

	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

	line-height:21px;

}

.mdlsec{ width:100%; float:left;}

.mdlsec button{ padding:10px 45px 10px 15px; border:0px; width:100%; display:inline-block; background:none; position:relative;}

.mdlsec button:focus{ outline:none;}

.mdlsec button::after{ position:absolute; right:15px; top:20px; content:"\f107"; font:normal normal normal 20px/1 FontAwesome;}

.mdlsec h4{ float:left; font-size:15px; font-weight:500; color:#333; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.mdlsec h5{ float:right; opacity:0;}

.mdlsec h5 i{ width:23px; height:23px; border-radius:50%; background:#999; color:rgba(255,255,255,1); font-size:14px; line-height:23px; text-align:center;}

.mdlsec button:hover{ background:#fff;}

.mdlsec a.editbtn{ float:left; padding:12px 8px 0; font-size:18px; color:#333; opacity:0;}

.collapsed h5{opacity:1;}

.mdlsec button:hover a.editbtn{opacity:1;}

.mdlsec .collapse{}

.mdlsec .collapse ul{ width:100%; display:inline-block; background:#fff; border-bottom:0px solid #d9d9d9; border-top:1px solid #d9d9d9;}

.mdlsec .collapse ul li{ width:100%; float:left; border-bottom:1px solid #d9d9d9;}

.mdlsec .collapse ul li:last-child{ border:0px;}

.mdlsec .collapse ul li a{ font-size:14px; line-height:18px; color:#333; padding:7px 15px; width:100%; float:left;}

.mdlsec .collapse ul li i{ width:23px; height:23px; border-radius:50%; background:#999; color:rgba(255,255,255,1); font-size:14px; line-height:23px; text-align:center; margin-right:5px;}

.bnr-sec{ width:100%; float:left;}

.bnr-sec img{ width:100%; float:left; height:auto;}

.Hdr-home{ background:none;}



.biosec{ width:80%; float:right; height:100px; overflow:hidden;}
.biosec h4{ font-size:12px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#9C9C8E;}
.biosec h4 b{ background:#9C9C8E; width:3px; height:3px; border-radius:50%; display:inline-block;}
.biosec h5{ color:#393939; line-height:21px; font-size:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.stats-sec{ width:100%; float:left; border:1px solid #d9d9d9; border-radius:4px; margin-bottom:30px;}
.stats-sec ul{}
.stats-sec ul li{ font-size:15px; line-height:21px; color:#393939; padding:10px; border-bottom:1px solid #d9d9d9; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.stats-sec ul li:last-child{border:0px;}
.stats-sec ul li img{ display:inline-block;width:20px; height:auto; margin-right:10px;}
.stats-sec ul li span{ float:right; font-weight:700;}

.biosec1{ width:76%; float:right; height:202px; overflow:hidden;}
.biosec1 h4{ font-size:15px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#9c9c9c; margin-bottom:10px; height:18px; overflow:hidden;}
.biosec1 h5{ color:#393939; line-height:21px; font-size:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.biosec1 h3 b{ width:100%; display:inline-block; color:#4c4c4c; font-size:18px; margin-top:4px; font-weight:400; margin-bottom:4px;}
.imgleftsec{ position:relative;}
.imgleftsec:after{ z-index:-1; position:absolute; border-bottom:1px solid #d9d9d9; left:0px; content:""; width:100%; float:left; top:258px;}
.promote{ width:100%; float:left;border-top:1px solid #d9d9d9; text-align:center;}
.promote a{ padding:15px; color:#606060; font-size:14px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; width:100%; float:left;}
.promote a:hover{ background:#fff;}
.promote i{ display:inline-block; width:20px; height:20px; color:#fff; line-height:20px; border-radius:2px;}
.promote .fa-facebook{ background:#3b5998 ;}
.promote .fa-twitter{ background:#00acee ;}
.promote .fa-linkedin{ background:#0e76a8 ;}

.request-cal{ background:#fff; width:100%; float:left; padding:15px 15px 5px; text-align:center; border:1px solid #d9d9d9; border-radius:4px; margin-bottom:15px;}
.request-cal h3{ font-size:22px; padding-bottom:5px; color:#393939; font-weight:700; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:normal;}
.request-cal h3 span{ font-size:14px;}
.request-cal a, .request-cal button{ height:40px; line-height:40px; background:#fff; padding:0px; margin-bottom:10px; border:1px solid #d9d9d9; color:#61bed9; font-size:15px; border-radius:4px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; display:inline-block; width:100%;}
.request-cal a:hover, .request-cal button:hover{ background:#eff8fb;}

.request-cal a.btncal{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:100%;}

.request-cal a.btncal:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}

.expertsec{ width:100%; float:left; padding:30px 0; margin-top:50px;}
.expertsec h2{font-size: 22px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 30px; font-weight: 200; color: #393939; margin:15px 0 10px;}
.expertsec ul{ width:100%; float:left;}
.expertsec ul li{ width:100%; float:left; border-bottom:1px solid #d9d9d9; padding:15px 0;}
.expertsec ul li:last-child{ border:0px;}
.expertsec ul li span{ width:120px; float:left; height:120px; display:inline-block;}
.expertsec ul li span img{ width:100%; float:left; border-radius:4px;}
.expertsec ul li h3{font-size: 18px; font-weight: 500; line-height: 25px; color: #393939; cursor: pointer; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
.content-expert{ width:76%; float:right; height:120px; overflow:hidden;}
.content-expert h4{ font-size: 12px; line-height: 18px; color: #9c9c9c;  margin-top: 5px; margin-bottom: 5px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-expert h4 b{ color:#61bed9; font-weight:400;}
.content-expert p{ font-size:15px; line-height:21px; color:#393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.expert-cta-block a.external1{ height:40px; line-height:40px; background:#eff8fb; font-weight:400; padding:0px; margin-bottom:0px; border:1px solid #d9d9d9; color:#61bed9; font-size:14px; border-radius:4px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; display:inline-block; width:100%;}

.expertsec1{ width:100%; float:left;}
.expertsec1 h2{font-size: 22px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 30px; font-weight: 200; color: #393939; margin:15px 0 10px;}
.expertsec1 ul{ width:100%; float:left; border-bottom:1px solid #d9d9d9;}
.expertsec1 ul li{ width:100%; float:left; padding:0 0 30px; border-bottom:1px solid #d9d9d9; margin-bottom:30px;}
.expertsec1 ul li:last-child{ border:0px;}
.expertsec1 ul li span{ width:120px; float:left; height:120px; display:inline-block;}
.expertsec1 ul li span img{ width:100%; float:left; border-radius:4px;}
.expertsec1 ul li h3{font-size: 18px; font-weight: 500; line-height: 25px; color: #393939; margin:0px; cursor: pointer; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
.content-expert1{ width:78%; float:right; height:120px; overflow:hidden;}
.content-expert1 h4{ font-size: 12px; line-height: 18px; color: #9c9c9c;  margin-top: 5px; margin-bottom: 5px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-expert1 h4 b{ color:#61bed9; font-weight:400;}
.content-expert1 p{ font-size:15px; line-height:21px; color:#393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.exprt1{ width:69%; float:left;}
.exprt2{ width:25%; float:right;}
.exprt2 a{ width:100%; float:left; border:1px solid #d9d9d9; color:#61bed9; font-size:15px; height:40px; line-height:40px; border-radius:4px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:500; text-align:center; margin-top:40px;}

.btnexprt{  background-color:#70c4dc; background-image:-webkit-linear-gradient(top, #70c4dc, #57abc3); border:1px solid #4d98ad; color:#fff; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); width:34%; height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; margin-top:30px;}

.content-sec2s ul li:nth-child(5) label{ height:auto;}
.content-sec2s ul li:nth-child(4) label{ height:100px;}
.content-sec2s ul li select{ width:36%;}
.content-sec2s ul li select.cust{ border-radius:0px;}
.content-sec1 h2{ padding:0px 0 20px;  font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec2s input[type="file"]{ background:#f8f8f8; padding:11px; border:1px solid #d9d9d9; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; border-radius:4px;}
.content-sec2s ul li input[type="submit"]{ margin-top:30px;}


.bnr1{width:100%; float:left; background:#f7f6f1; border:1px solid #e4e2de; margin-top:90px; padding:40px 0 2px;}
.bnr1sec{ width:100%; float:left;}
.bnr1sec li{ width:25%; float:left; padding:0 14px; margin-bottom:38px;}
.bnr1sec li h2{ width:100%; float:left; line-height:0;}
.bnr1sec li h2 a{ color:#393939; display:inline-block; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:1.1; font-size:18px; font-weight:500; margin-bottom:15px;}
.bnr1sec li span{ float:left; width:48px; height:48px; margin-right:10px;}
.bnr1sec li span img{ float:left; width:100%; height:100%; border-radius:5px;}
.bnr1sec li span{ float:left; width:48px; height:48px;}
.bnr1sec li h3{ float:left; width:70%;}
.bnr1sec li h3 a{ color:#747474; font-size:12px; line-height:17px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; float:left; margin-right:2px;}
.bnr1sec li h3 a:hover{ color:#61bed9; text-decoration:underline;}

.expertsec1s{ width:100%; float:left; text-align:center;}
.expertsec1s ul{ width:100%; float:left; text-align:left;}
.expertsec1s ul li{ width:100%; float:left; padding:0 0 30px; border-bottom:1px solid #d9d9d9; margin-bottom:30px;}
.expertsec1s ul li:last-child{ border:0px;}
.expertsec1s ul li span{ width:120px; float:left; height:120px; display:inline-block;}
.expertsec1s ul li span img{ width:100%; float:left; border-radius:4px;}
.expertsec1s ul li h3{font-size: 18px; font-weight: 500; line-height: 25px; color: #393939; margin:0px; cursor: pointer; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
.content-expert1s{ width:78%; float:right; height:120px; overflow:hidden;}
.content-expert1s h4{ font-size: 12px; line-height: 18px; color: #9c9c9c;  margin-top: 5px; margin-bottom: 5px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-expert1s h4 b{ color:#61bed9; font-weight:400;}
.content-expert1s p{ font-size:15px; line-height:21px; color:#393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.exprt1s{ width:69%; float:left;}
.exprt2s{ width:25%; float:right; text-align:center;}
.exprt2s a{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:100%; margin-top:7px;}
.exprt2s a:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}
.starsec{ width:100%; float:left; padding-top:10px;}
.starsec i{ display:inline-block; font-size:15px; color:#FFDF00; margin:0 2px;}
.starsec b{ font-weight:400; color:#747474; font-size:12px; margin-left:5px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.exprt2s h4{ width:100%; float:left; font-size:18px; color:#393939; font-weight:800; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}
.exprt2s h4 em{ width:100%; float:left; font-size:12px; color:#393939; font-weight:400; }

.tabsec{ float:left; border-bottom:1px solid #d9d9d9; width:100%; padding-bottom:20px;}
.tabsec h6{ float:left; color:#424242; font-size:15px; margin-right:10px; padding:3px 5px; line-height:15px; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tabsec ul{ float:left;}
.tabsec ul li{ display:inline-block;}
.tabsec ul li a{ padding:5px 10px; margin-right:5px; border-radius:4px; font-size:15px; line-height:15px; color:#52a1b8; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; transition:all 0s ease-in-out 0s;}
.tabsec ul li a.active{ background:#61bed9; color:#fff; position:relative;}
.tabsec ul li a.active:before {display: block; content: " "; position: absolute; bottom: -10px; left: 50%; margin-left: -5px; height: 0; width: 0; border-color: transparent;    border-style: solid; border-width: 5.5px;  border-top-color: #61bed9;}
.tabsec h5{ float:right; color:#424242; font-size:15px; margin-right:5px; padding:3px 5px; line-height:15px; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tabsec ol{ float:right;}
.tabsec ol li a.dropdown-toggle{ font-size:15px; line-height:15px; color:#52a1b8; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tabsec ol li a.dropdown-toggle:after{ font-size:19px; position:absolute; right:0px; top:-6px; content:"\f107"; font:normal normal normal 20px/1 FontAwesome;}
.tabsec ol li .dropdown-menu{ right:0px; left:inherit!important;}

.expertsec1s button{ height:40px; line-height:40px; padding:0px; margin:0 auto; border:1px solid #d9d9d9; color:#61bed9; font-size:15px; border-radius:4px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; display:inline-block; width:150px; background:#fff;}
.expertsec1s button:hover{ background:#eff8fb; color:#61bed9;}
.content-sec1 ul li h3{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}


/*fav*/

.bnr2{width:100%; float:left; background:#f7f6f1; border:1px solid #e4e2de; margin-top:90px; padding:8px 0 0px;}
.toptab{ width:100%; float:left;}
.toptab h1{ font-size: 34px; line-height: 45px; color: #606060;  margin: 0; font-weight: 200; margin-top: 10px; margin-bottom: 20px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.toptab ul{ width:100%; float:left; margin-bottom:-2px; display:inline-block;}
.toptab ul li{ float:left; width:auto;}
.toptab ul li a{ padding:10px 20px; border:1px solid #e4e2de; width:auto; font-size:15px; font-weight:500; color:#606060; background:#efeee9; border-radius:4px 4px 0 0; margin-right:10px; line-height:26px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; display:inline-block; border-bottom:0px; height:44px}
.toptab ul li a span{display: inline-block; padding-left: 5px; padding-right: 5px; vertical-align: middle; border-radius: 4px; position: relative;   top: -3px; font-size: 15px; color: #9c9c9c; border: 1px solid #d9d9d9;}
.toptab ul li a.active{ background:#fff; color:#61bed9;}
.toptab ul li a:hover{ color:#61bed9;}
.toptab ul li a.active span{padding-top: 1px; padding-bottom: 1px; padding-left: 6px; padding-right: 6px; border:0;background:#61bed9;color:#fff;}
.toptab ul h3{ float:right;}
.toptab ul h3 a{font-size:15px; color:#52a1b8; line-height:40px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.errormsg{ width:310px; float:none; margin:0 auto;  display:inline-block;}
.errormsg h4{font-size: 22px; line-height: 30px; font-weight: 200; margin: 0px; color: #393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.errormsg p{ color: #7c7c7c; font-size: 14px; margin: 0px; padding: 0px; margin-top: 9px; margin-bottom: 9px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}

.bnr1secs{ width:100%; float:left; padding:12px 0 20px;}
.bnr1secs li{ width:25%; float:left;}
.bnr1secs li a{ color:#61bed9; height:27px; font-size:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:27px;}

.bnrsectop{ width:100%; float:left; background:url(../images/img0.jpg) no-repeat; background-attachment:fixed; padding:20px 0; position:relative; height:475px; background-size:cover; background-position: center top;}
.bnrtop{ width:100%; float:left; position:absolute; bottom:0px; display:inline-block; background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7)); padding-bottom:55px;}
.bnr0m{ margin:0px;}
.bnrtop h1{font-size: 44px; line-height: 44px; font-weight: 500; color: #fff; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; text-shadow:0 1px 0 rgb(0 0 0 / 25%), 0 -1px 3px rgb(0 0 0 / 80%);}
.bnrtop p{font-size: 22px; line-height: 30px; font-weight: normal; color: #fff; margin-top: 10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; text-shadow:0 1px 0 rgb(0 0 0 / 25%), 0 -1px 3px rgb(0 0 0 / 80%);}

.starsec1{ width:100%; float:left; padding-bottom:10px;}
.starsec1 i{ display:inline-block; font-size:15px; color:#FFDF00; margin:0 2px;}
.starsec1 b{ font-weight:400; color:#747474; font-size:12px; margin-left:5px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.wishlist-info{text-align: center; width:100%; float:left; font-size: 12px; padding-bottom: 10px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color: #9c9c9c;}



.reviewtop{ width:100%; float:left; position:relative; z-index:1;}
.reviewtop h3{padding:10px 20px; border:1px solid #e4e2de; width:auto; font-size:15px; font-weight:500; color:#61bed9; background:#f7f6f1; border-radius:4px 4px 0 0; margin-right:10px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; display:inline-block; border-bottom:0px;}
.reviewtop span{ border-radius:4px; font-size:15px; padding-top: 1px; padding-bottom: 1px; padding-left: 6px; padding-right: 6px; border: 0; background: #61bed9; color: #fff; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:500; line-height:21px;}
.reviewsec{ margin-top:-1px; width:100%; float:left; background:#f7f6f1; padding:30px 0; border-bottom:1px solid #e4e2de; border-top:1px solid #e4e2de; text-align:center;}

.reviewsec ul{ text-align:left;}
.reviewsec ul li{ margin-bottom:25px; width:100%; float:left;}
.reviewsec ul li span{ width:50px; line-height:50px; height:50px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; background:#4b6dde; display:inline-block; margin-right:20px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.detailsec1s{ float:left; background:#fff; width:88%; padding: 15px 20px; border: 1px solid #d9d9d9; position: relative;}
.detailsec1s:after{top: 18px; left: -15px; height: 0; width: 0; border-color: transparent; border-style: solid; border-width: 7.5px;   border-right-color: #fff; z-index: 2; display: block; content: " "; position: absolute;}
.detailsec1s:before{ top: 17px; left: -17px; z-index: 1; height: 0; width: 0; border-color: transparent; border-style: solid; border-width: 8.5px;border-right-color: silver; display: block; content: " "; position: absolute;}
.detailsec1s h4 a{display: inline-block;  font-size: 12px; line-height: 18px; color: #888; font-weight: 500; float:left;}
.detailsec1s h4 img{ width:16px; height:16px; margin-right:5px; float:left;}
.detailsec1s h4{ width:100%; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; padding:10px 0 0;}
.detailsec1s h4 b{ float:right; font-size:12px; line-height:16px; color:#888;}
.linksec{ width:100%; float:left; border-top: 1px solid #e0ded9; padding:15px 10px 0px;}
.linksec a{display: inline-block; font-size: 12px; height: 30px; line-height: 30px; border-radius: 4px; padding: 0 10px; margin-bottom:5px; border: 0; color: #6c6c6c; background: #eaeaea; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.linksec a:hover{ background:#d4edf5; color:#61bed9;}
.ldbtn{ display: inline-block; text-align:center;  width: 150px; height: 40px; line-height: 39px; margin: 20px auto; font-size: 15px; color: #61bed9; background: #fff;    border: 1px solid #d9d9d9;  border-radius: 4px; outline: 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.ldbtn:hover{ background:#eff8fb; color:#61bed9;}

.relatedsec{ width:100%; float:left; padding:30px 0;}
.relatedsec h2{ padding:0px 0 15px; border-bottom:1px solid #e2e2e2; font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom:20px;}
.relatedsec ul{ text-align:left;}
.relatedsec ul li{width:33.33%; float:left; padding:5px 20px 25px 0;}
.relatedsec ul li span{ width:50px; line-height:50px; height:50px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; background:#4b6dde; display:inline-block; margin-right:20px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.inrrelat{ width:76%; float:left;}
.inrrelat h3{ font-size: 18px; font-weight: 500; line-height: 25px; color: #393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.inrrelat h4{font-size: 12px; font-weight: normal;color: #9c9c9c; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}
.inrrelat h4 em{background: #9C9C8E; width: 3px; height: 3px; border-radius: 50%; display: inline-block;}
.inrrelat p{font-size: 12px; font-weight: normal;color: #393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:18px; height:54px; overflow:hidden;}
.inrrelat h5{font-size: 18px; font-weight: 800; margin-top:7px; color: #393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:18px;}
.inrrelat h5 b{color: #9c9c9c; font-weight:400; font-size: 12px;}

.inrrelat button{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:30px; line-height:26px; font-size:12px; font-weight:500; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:140px; margin-top:7px; float:left;}

.inrrelat buttons:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}

.expertsec2s, .expertsec3s{ width:100%; float:left; text-align:center;}
.expertsec2s ul{ width:100%; float:left; text-align:left;}
.expertsec2s ul li{ width:100%; float:left; padding:0 0 30px; border-bottom:1px solid #d9d9d9; margin-bottom:30px;}
.expertsec2s ul li:last-child{ border:0px;}
.expertsec2s ul li span{ width:100px; line-height:100px; height:100px; font-size:22px; font-weight:500; color:#fff; border-radius:50%; text-align:center; background:#4b6dde; display:inline-block; margin-right:20px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.inboxcont{ width:87%; float:left;}
.inboxcont h3{ font-size:18px; color:#606060; font-weight:500; line-height:21px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin:0px;}
.inboxcont h3 a{ color:#606060;}
.inboxcont h3 a:hover{ text-decoration:underline;}
.inboxcont h3 b{ font-size:15px; color:#9c9c9c; float:right; line-height:21px;}
.messagesec{ width:100%; float:left;}
.messagesec a{ display:inline-block; float:left; margin-top: 10px;  border: 1px solid #d9d9d9; padding: 10px; border-radius: 4px; font-size: 12px!important; line-height: 21px;  color: #606060!important; position: relative; background: #f7f7f7; text-decoration: none; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.messagesec a:after{top: -10px; left: 21px; height: 0; width: 0; border-color: transparent; border-style: solid; border-width: 5px; border-bottom-color: #f7f7f7;  z-index: 2; display: block;  content: " "; position: absolute;}
.messagesec a:before{top: -12px; left: 20px; z-index: 1; height: 0; width: 0; border-color: transparent; border-style: solid; border-width: 6px;  border-bottom-color: silver; display: block;  content: " "; position: absolute;}
.messagesec a:hover{ background:#fcfcfc;}
.messagesec a:hover:after{border-bottom-color: #fcfcfc;}

.anssec{ text-align:left;}
.anssec h2{font-size: 18px; line-height: 25px; font-weight: 200; color: #929292; margin:0; padding-bottom:10px; border-bottom:1px solid #e0e0e0;}
.anssec h2 em{ padding-left:20px; font-style:normal;}
.anssec ul{ padding:10px 20px 10px 0; width:100%; float:left; border-right:1px solid #e0e0e0;}
.anssec ul li h6{ font-size:12px; color:#9c9c9c; font-weight:500; margin-bottom:5px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.anssec ul li{ width:100%; float:left; margin-bottom:40px;}
.anssec ul li h3 { margin:0px 0 5px;}
.anssec ul li h3 a{ font-size:18px; color:#52a1b8; font-weight:400; line-height:25px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.anssec ul li h3 a:hover{ text-decoration:underline;}
.anssec h4{font-size: 12px; font-weight: normal;color: #9c9c9c; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}
.anssec h4 em{background: #9C9C8E; width: 3px; height: 3px; border-radius: 50%; display: inline-block;}
.authsec{ width:100%; float:left; margin-top:10px;}
.authsec b{ width:24px; height:24px; border-radius:50%; float:left; margin-right:8px;}
.authsec h5{ font-size:12px; color:#606060; font-weight:500; line-height:24px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.anssec1{ text-align:left;}
.anssec1 h2{font-size: 18px; line-height: 25px; font-weight: 200; color: #929292; margin:0; padding-bottom:10px; border-bottom:1px solid #e0e0e0; padding-left:20px;}
.anssec1 form{ width:100%; float:left; padding:20px 0 20px 20px; position:relative;}
.anssec1 form input[type="text"]{ border:1px solid #dfdfdf; font-size:15px; box-shadow:inset 0 1px 3px rgb(0 0 0 / 4%); border-radius:4px; color:#393939; height:39px; width:100%; padding:7px 80px 7px 7px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.anssec1 form input[type="submit"]{ height:39px; padding:0 10px; position:absolute; top:20px; right:0px; border:0px; background:none; color:#999; font-size:20px; line-height:39px;}
.anssec1 ul{ width:100%; float:left; padding:20px 0 20px 20px;}
.anssec1 ul li{ width:100%; float:left; padding-bottom:20px;}
.anssec1 ul li:last-child{ padding:0px;}
.anssec1 ul li a{ font-size:15px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#52A1A0;}
.anssec1 ul li a.formsec{ height:40px; line-height:18px; border:1px solid #d9d9d9; padding:11px; font-size:15px; border-radius:4px; box-shdaow:inset 0 1px 3px rgb(0 0 0 / 4%); width:100%; float:left; margin-top:10px; color:#cecece;}
.anssec .ldbtn{ width:100%!important; margin:0px;}
.dismiss{ float:right; background-color:#f4ba53; background-image:-webkit-linear-gradient(top, #f4ba53, #daa139); border:1px solid #c28f33; color:#fff; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); font-size:12px; height:24px; font-weight:500; padding:0 8px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; border-radius:4px;}

.content-sec4s{ width:100%; float:left; padding:30px 0; text-align:center;}
.inrsec-col4{ width:620px; margin:0 auto; display:inline-block;}
.inrsec-col4 ul{ width:100%; float:left; border:1px solid #d9d9d9; background:#fff; text-align:left;}
.inrsec-col4 ul li{margin: 0; float:left; width:100%; border-bottom: 1px solid #d9d9d9; padding: 10px; min-height: 50px; line-height: normal;position: relative;}
.inrsec-col4 ul li:last-child{ border:0px;}
.inrsec-col4 ul li a{ position:relative;}
.inrsec-col4 ul li a:after{position:absolute; right:0px; top:13px; color:#999; content:"\f105"; font:normal normal normal 20px/1 FontAwesome; font-size:24px;}

.inrsec-col4 ul li span{ width:50px; line-height:50px; height:50px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; display:inline-block; margin-right:10px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.inrsec-col4 ul li span img{ width:50px; height:50px; border-radius:50%;}
.cont-sec{ width:89%; float:left; padding:10px 10px 10px 0;}
.cont-sec h3{font-size: 17px;line-height: 17px; font-weight: bold; margin-bottom:4px; color:#000; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.cont-sec h4{ font-size:12px; line-height:12px; color:#7b7b7b; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

.prosec1{ width:100%; float:left; padding:30px 0;}
.prosec h1{font-size: 22px; line-height: 30px; color: #393939; font-weight: 500;margin: 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.prosec h4{ font-size: 12px; line-height: 18px; color: #9c9c9c;  margin-top:0px; margin-bottom:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.prosec h4 a{ color:#61bed9; font-weight:400;}
.imgarea{ width:100%; float:left; margin-bottom:20px; text-align:center;}
.imgarea img{ width:auto; margin:0 auto; max-height:500px;}
.prosec p{font-size: 15px; line-height: 21px; color: #393939; margin:0 0 20px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.prosec h5 p{ margin-bottom:10px;}
.prosec h5 a{display: inline-block; font-size: 12px; height: 30px; line-height: 30px; border-radius: 4px; padding: 0 10px; margin-bottom:5px; border: 0; color: #6c6c6c; background: #eaeaea; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.prosec h5 a:hover{ background:#d4edf5; color:#61bed9;}
.headre { text-align:left; font-size: 22px;line-height: 25px; font-weight: 200; color: #929292;  margin-top: 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 15px;}
.newsec{ border:0px; padding:0px;}
.newsec h3{ line-height:30px; padding:0px;}
.newsec h3 strong{ width:100%; float:left; line-height:21px; font-size:12px; text-align:center; margin-bottom:15px; font-weight:400;}

.expro{ width:100%; float:left; border:1px solid #d9d9d9; background:#f7f7f7;}
.topexpro{ padding:15px; width:100%; float:left;}
.topexpro span{ width:60px; line-height:60px; height:60px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; display:inline-block; margin-right:10px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.topexpro span img{ width:50px; height:50px; border-radius:50%;}
.topexpro p{ width:100%; float:left; font-size: 12px; width:100%; float:left; line-height: 19px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#333; margin-top:10px;}

.topcont{ width:70%; float:left;}
.topcont h3 a{ font-size: 18px;font-weight: 500; color: #393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.topcont h3{ line-height:25px; width:100%; float:left;}
.topcont h4{font-size: 12px; width:100%; float:left; line-height: 19px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#333;}
.topcont button{font-size: 12px; line-height: 19px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#52a1b8; background:none; border:0px; padding:0px; width:100%; float:left; text-align:left;}

.expro ul{ width:100%; float:left; border-top:1px solid #d9d9d9;}
.expro ul li{ width:33.33%; float:left; border-right:1px solid #d9d9d9; padding:12px 0; text-align:center; font-size: 15px; font-weight: 500;    color: #393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}
.expro ul li i{ font-size:18px; margin-right:5px; color:#999;}



.toptab1{ width:100%; float:left; padding:30px 0; background:#f7f6f1; border:1px solid #e4e2de; border-top:0px;}
.toptab1 h1{ font-size: 32px; line-height: 39px; color: #4c4c4c;  margin: 0 0 20px; font-weight: 500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.toptab1 p{font-family: Georgia,Cambria,"Times New Roman",Times,serif; font-size: 18px; line-height: 25px; color:#6f6f6f;}
.toptab1 h3{ font-size:15px; color:#606060; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.toptab1 h4{font-size: 15px; margin:10px 0; font-weight: normal;color: #606060; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}
.toptab1 h4 em{background: #000; width: 4px; height: 4px; border-radius: 50%; display: inline-block;}
.btnsec{ border-left:1px solid #e4e2de; padding-left:25px;}
.btnsec a{ font-size:15px; color:#52a1b8;width:100%; display:inline-block; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom:5px;}
.btnsec a:hover{ text-decoration: underline;}
.btnsec a i{ margin-right:5px;}
.qusarea{ display: block; width:430px; height: 46px; cursor: text;  border: 1px solid #d9d9d9; border-radius: 0; line-height: 21px;padding: 11px;    font-size: 15px; background: #fff; outline: none; color:#cecece; margin-top:20px; box-shadow:inset 0 1px 3px rgb(0 0 0 / 4%); border-radius:4px;}
.qusarea:hover{ color:#cecece;}

.anssec2{ text-align:left;}
.anssec2 h2{font-size: 18px; line-height: 25px; font-weight: 200; color: #929292; margin:0; padding-bottom:10px; border-bottom:1px solid #e0e0e0;}
.anssec2 h2 em{ padding-left:20px; font-style:normal;}
.anssec2 ul{ padding:20px 20px 10px 0; width:100%; float:left; border-right:1px solid #e0e0e0;}
.anssec2 ul li{  width:100%; float:left; margin-bottom:40px;}
.anssec2 ul li:last-child{ border:0px;}
.anssec2 ul li span{ width:50px; line-height:50px; height:50px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; display:inline-block; margin-right:20px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.anssec2 ul li span img{ width:50px; height:50px; border-radius:50%;}
.leftcont{ width:85%; float:left;}
.leftcont h3{ line-height:21px; margin:0px;}
.leftcont h3 a{ font-size:15px; line-height:21px; color:#9c9c9c; font-weight:400; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.leftcont h3 a strong{ color:#606060; font-weight:700; line-height:21px;}
.leftcont p{ font-size:15px; line-height:21px; color:#606060; font-weight:400; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin-top:10px;}
.actionbtn{ width:100%; float:left; margin-top:10px;}
.actionbtn a{ color:#52a1b8; font-size:12px; line-height:25px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:600;}
.actionbtn button{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:25px; line-height:23px; font-size:12px; font-weight:500; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:auto; margin-right:8px; float:left; padding:0 8px;}
.actionbtn em{background: #666; width: 4px; height: 4px; border-radius: 50%; display: inline-block;}
.actionbtn b{ font-weight:500; float:right;}
.actionbtn b a{ color:#9c9c9c;}

.content-sec5s{ width:100%; float:left; padding:30px 0;}
.content-sec5s h2{font-size: 18px; line-height: 25px;  font-weight: 500;  color: #929292; margin-top: 0; margin-bottom: 25px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; border-bottom:1px solid #d9d9d9; padding-bottom:15px; text-align:left;}

.content-sec5s .expertsec1s ul li span{ width:100px; height:100px; border-radius:50%; overflow:hidden;}
.content-sec5s .content-expert1s{ width:81%;}
.content-sec5s .content-expert1s h4{ margin:2px 0;}
.content-sec5s .content-expert1s p{ margin-bottom:10px;}
.content-sec5s .content-expert1s h5 a{display: inline-block; font-size: 12px; height: 30px; line-height: 30px; border-radius: 4px; padding: 0 10px; margin-bottom:5px; border: 0; color: #6c6c6c; background: #eaeaea; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec5s .content-expert1s h5 a:hover{ background:#d4edf5; color:#61bed9;}
.content-sec5s .content-expert1s{ height:134px;}

.small-stats1{ width:80%; margin:0 auto;  margin-top:12px;}
.small-stats1 b{ width:33.33%; float:left; line-height: 18px;  color: #a5a5a5; font-size: 12px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.small-stats1 b i{ font-size:18px;}

.toptab2{width:100%; float:left; padding:20px 0 28px;}
.toptab2 ul{}
.toptab2 ul li{ width:37%; float:left; border-left:1px solid #e0ded9; padding-left:25px;}
.toptab2 ul li:first-child{ width:26%; border:0px; padding-left:0px;}
.toptab2 ul li span{ width:50px; line-height:50px; height:50px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; display:inline-block; margin-right:15px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; background:#4b6dde;}
.toptab2 ul li span img{ width:50px; height:50px; border-radius:50%;}
.toptab2 b{ padding-top:5px; display:block; font-size:15px; color:#606060;  font-weight:400; line-height:18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.toptab2 strong{ font-size:15px; color:#606060;  font-weight:500; line-height:18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.toptab2 h4{ font-size:12px; color:#b3b1ad;  font-weight:500; line-height:18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.toptab2 a:hover strong{ color:#61bed9; text-decoration:underline;}


.toptab2 .icon{width:50px; line-height:50px; height:50px; font-size:28px; color:#b3b1ad; text-align:center; display:inline-block; margin-right:15px; float:left;}

.anssec3{ text-align:center;}
.anssec3 h2{font-size: 18px; text-align:left; line-height: 25px; font-weight: 200; color: #929292; margin:0; padding-bottom:10px; border-bottom:1px solid #e0e0e0;}
.anssec3 h2 em{ padding-left:20px; font-style:normal;}
.anssec3 ul{ padding:20px 20px 10px 0; width:100%; float:left; border-right:1px solid #e0e0e0; text-align:left;}
.anssec3 ul li{  width:100%; float:left; padding-bottom:0px;}
.anssec3 ul li span{ width:50px; height:50px; border-radius:50%;  overflow:hidden;}
.anssec3 ul li span img{ width:50px; height:50px;}
.text-sec{ width:87%; float:right; position:relative; padding-left:47px; padding-bottom:30px;}
.text-sec:after{ position:absolute; content:""; top:15px; left:15px; z-index:-1; width:1px; height:100%; background:#e0e0e0;}
.text-sec b{ width:32px; height:32px; font-size:15px; line-height:30px; border-radius:50%; border:1px solid #d9d9d9; text-align:center; display:inline-block; float:left; margin-top:10px; color:#52a1b8; margin-left:-47px; background:#fff;}
.text-sec h3{ margin:0px; color:#606060;  font-size:15px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.text-sec h3 a{ color:#606060;  font-size:15px; line-height:21px;}
.text-sec h3 a:hover{ color:#52a1b8; text-decoration:underline;}
.text-sec h4{color: #9c9c9c; font-size: 12px; margin-top: 4px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.text-sec .fa-heart{ color:#f6a623;}
.text-sec .fa-comment{ color:#61bed9;}



.content-sec6s{ width:100%; float:left; padding:30px 0;}
.content-sec6s h1 { padding: 0px 0 0px; font-size: 22px; line-height: 30px; color: #393939; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec6s h2 { padding: 0px 0 0px; font-size: 22px; line-height: 30px; color: #393939; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom:15px;}

.content-sec6s ul{}
.content-sec6s ul li{ width:100%; float:left; margin-top:20px;}
.content-sec6s ul li:nth-child(1) label, .content-sec6s ul li:nth-child(2) label, .content-sec6s ul li:nth-child(3) label{ width:28%; border-radius:4px 0px 0px 4px; min-height: 100px; background: #f8f8f8; font-weight: 500;text-align: right;    line-height: 22px;  position: relative; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; float:left; margin:0px;}
.content-sec6s input[type="text"]{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:44px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}
.content-sec6s ul li h3{padding: 0; margin-top: -10px; font-size: 12px; font-weight: normal; font-style: normal; color: #9c9c9c;line-height: 18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec6s textarea{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:100px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}
.content-sec6s ul li input[type="submit"]{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:250px;}
.content-sec6s ul li input[type="submit"]:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}
.content-sec6s ul li:nth-child(3) label{ min-height:42px;}
.content-sec6s ul li:nth-child(3) input[type="text"]{ width:40%;}
 .content-sec6s ul li:nth-child(2) label b{ font-size:12px; font-weight:400; display:block;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
  margin:0px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2cc55d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2cc55d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.inrline{ width:100%; float:left; border:1px solid #d9d9d9; padding:8px;}
.inrline h5{ font-size:15px; line-height:32px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; float:left;}

.content-sec6s ol{ width:100%; float:left; border: 1px solid #d9d9d9; border-radius:4px; background:#f7f7f7; padding:10px; margin-top:5px;}
.content-sec6s ol li{margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #d9d9d9; list-style: none; font-size: 12px; line-height: 18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec6s ol li:last-child{ margin:0px; padding:0px; border:0px;}

.content-sec7s{ width:100%; float:left; padding:30px 0; margin-top:90px;}
.content-sec7s h1, .content-sec7s h2{padding: 0px 0 0px; font-size: 22px; line-height: 30px; color: #393939; margin: 15px 0 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec7s h1 span, .content-sec7s h2 span{ display: inline-block; width: 36px; height: 36px; line-height: 36px; border: 1px solid #61bed9; border-radius: 50%;    text-align: center; font-size: 15px;  font-weight: 500; color: #61bed9; position: relative; margin-right: 10px; top:-2px;}

.content-sec7s ul{ margin-bottom:30px;}
.content-sec7s ul li{ width:100%; float:left;}
.content-sec7s ul li label{ width:28%; border-radius:4px 0px 0px 4px; min-height: 42px; background: #f8f8f8; font-weight: 500;text-align: right;    line-height: 22px;  position: relative; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; float:left; margin:0px;}
.content-sec7s ul li input[type="text"], .content-sec7s ul li select{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:44px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}
.content-sec7s ul li select:hover{ cursor:pointer; background-color:#f9f9f9; background-image:-webkit-linear-gradient(top, #f9f9f9 70%, #f7f7f7 100%);}
.content-sec7s ul li h3{padding: 0; font-size: 12px; font-weight: normal; font-style: normal; color: #9c9c9c;line-height: 18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.content-sec7s ul li h3 a{ color:#61bed9;}
.content-sec7s textarea{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:84px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}
.content-sec7s ul li input[type="submit"]{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:250px;}
.content-sec7s ul li input[type="submit"]:after{ position:absolute; right:12px; top:8px; content:"\f105"; font:normal normal normal 22px/1 FontAwesome;}
.secfirst{ width:100%; float:left;}
.secfirst li:nth-child(1) label{ height:84px;}
.secfirst li label a{ color:#52a1b8; font-size:12px; line-height:22px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
.secfirst li{ margin-bottom:20px;}
.secfirst li h3{margin-top: -10px;}

.secsnd{ width:100%; float:left; margin-bottom:50px!important;}
.secsnd li h3{ margin-top:10px;}
.secsnd li input[type="date"]{border-radius:4px 0px 0px 4px; height:44px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:60%;}
.secsnd li input[type="date"]:hover{cursor:pointer; background-color:#f9f9f9; background-image:-webkit-linear-gradient(top, #f9f9f9 70%, #f7f7f7 100%);}
.secsnd li select{ width:40%!important;}

.secthrd{ width:100%; float:left; margin-bottom:50px!important;}
.secthrd li h3{ margin-top:10px;}
.cc-month{ width:50%!important; border-radius:0px!important;}
.cc-year{width:22%!important;}

.secfrth{ width:100%; float:left; margin-bottom:20px!important;}
.secfrth li h3{ margin-top:10px;}

.rightpre{ width:100%; float:left; padding-top:73px;}
.rightpre span{ width:50px; line-height:50px; height:50px; font-size:18px; font-weight:500; color:#fff; border-radius:50%; text-align:center; display:inline-block; margin-right:10px; float:left; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.rightpre span img{ width:50px; height:50px; border-radius:50%;}
.rightpre h3{ font-size:15px; color:#393939; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:1.1; font-weight:500;}
.rightpre h4{font-size: 12px; line-height: 18px; color: #6c6c6c; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}



.delbtn{ font-size:12px; color:#c00; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; text-decoration:underline; margin-bottom:30px; display:inline-block;}

.toptab3s{ width:100%; float:left; padding:22px 0 30px;}
.toptab3s h1{ font-size: 34px; line-height: 45px; font-weight: 200; color: #606060; margin: 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.experts1s{ width:100%; float:left; padding:0px 0;}
.experts1s h2{ font-size: 22px; line-height: 30px; font-weight: 200; color: #000; margin-top: 0px; margin-bottom: 25px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts1s h3{ font-size: 18px; line-height: 25px; font-weight: 200; color: #000; margin-top: 0px; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts1s ul{ width:100%; float:left; padding-left:20px; margin-bottom:5px;}
.experts1s ul li{ width:100%; float:left; list-style:disc;}
.experts1s ul li a{ color:#52a1b8; font-size:15px; line-height:25px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.countsec{ width:100%; float:left; margin-bottom:50px;}
.countsec a{ margin-right:7px; border: 1px solid #d9d9d9; color: #61bed9; background-color: #fff; display: inline-block; width: auto; height: 24px;line-height: 23px;  padding-left: 8px;  padding-right: 8px; font-size: 12px; font-weight: 500; border-radius:4px;}
.countsec b{font-size: 12px;  color: #9c9c9c; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.ansform form{ width:100%; float:left; padding:0px; position:relative;}
.ansform form input[type="text"]{ border:1px solid #dfdfdf; font-size:15px; box-shadow:inset 0 1px 3px rgb(0 0 0 / 4%); border-radius:4px; color:#393939; height:39px; width:100%; padding:7px 80px 7px 7px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.ansform form input[type="submit"]{ height:39px; padding:0 10px; position:absolute; top:0px; right:0px; border:0px; background:none; color:#999; font-size:20px; line-height:39px;}

.btmright{ background: #f7f7f7; border: 1px solid #d9d9d9; padding: 20px; border-radius: 4px; box-shadow: 0 2px 2px rgb(217 217 217 / 50%);    margin-top: 30px; width:100%; float:left;}
.btmright h3{ font-size: 22px; line-height: 30px; font-weight: 200; color: #000; margin-top: 0px; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.btmright p{font-size: 15px; line-height: 21px; color:#606060; margin-bottom:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.btmright p a{ color:#52a1b8;}

.experts2s{ width:100%; float:left; padding:0px 0;}
.experts2s h2{ font-size: 22px; line-height: 30px; font-weight: 200; color: #000; margin-top: 0px; margin-bottom: 25px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts2s p{font-size: 15px; line-height: 21px; color:#606060; margin-bottom:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts2s p a{ color:#52a1b8;}
.experts2s img{ width:100%; float:left; margin-bottom:15px;}

.experts3s{width:100%; float:left; padding:0px 0; font-size:15px; line-height:21px;}
.experts3s h3{ font-size:18px; line-height:1.1; margin:20px 0 10px; color:#606060; font-weight:600; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts3s h4{ font-size:15px; line-height:1.1; margin:20px 0 10px; color:#606060; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts3s p{ font-size: 15px; line-height: 21px; font-weight:500; color:#606060; margin-top: 0; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.experts3s a{ color:#52a1b8; font-size:15px;}
.experts3s ul{ list-style:disc; padding-left:20px; width:100%; float:left; margin-bottom:10px;}
.experts3s ul li{font-size: 15px; line-height: 21px; color:#606060; margin-bottom:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.contbtm{ border:1px solid #e4e2de; width:100%; float:left; background:#f7f6f1; padding:30px 0;}
.contbtm h3{font-size: 18px; line-height: 25px; font-weight: 200; color: #000;  margin-top:20px; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
.contbtm p{font-size: 15px; line-height: 21px; color: #606060;  margin-top: 0; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
.contbtm p a{ color:#52a1b8;}


.bnr4{
    background: #f7f6f1 url(../images/img10.png) center bottom no-repeat;
    background-size: 1074px 465px;
    padding-top: 50px;
    padding-bottom: 270px;
    position: relative;
	width:100%; float:left; margin-top:90px;
}
.bnr4 h1{text-align: center; padding: 0 20px; margin: 0; line-height: 45px; font-size: 36px; font-weight: bold; color:#000; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.experts4s{ width:100%; float:left; padding:0;}
.experts4s ul{ width:100%; float:left;}
.experts4s ul li{ width:100%; float:left; padding:40px 0 40px; border-bottom:1px solid #e3e3e3;}
.experts4s ul li span{ width:66.66%; float:left;}
.experts4s ul li b{ width:33.33%; float:left;}
.experts4s ul li img{ width:auto; float:left; height:auto}
.experts4s ul li:nth-child(2) img{ float:right;}
.experts4s ul li:nth-child(2) span{ width:63%;}
.experts4s ul li:nth-child(2) b{ float:right;}
.experts4s ul li span h3{ font-size:33px; margin-bottom:10px; padding-top:40px; line-height:normal; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:500; color:#333;}
.experts4s ul li span p{font-size: 15px; line-height: 21px; color: #606060;  margin-top: 0; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }

.tabwork{ width:100%; float:left; padding:40px 0;}
.tabwork h3{font-size:33px; text-align:center; line-height:1.1; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:500; color:#333;}
.tabwork p{ text-align:center; font-size: 15px; line-height: 21px; color: #606060;  margin:20px 0 10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.tabwork h6{font-size: 22px; font-weight: 600; text-align: center; color: #9b9b9b; margin: 0; padding: 30px 0 0; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; display:inline-block; width:100%;}
.tabwork h6 a{ color:#58b1c9;}

.tabswork{ width:100%; float:left; margin-top:30px; border:1px solid #cfcfcf; border-radius:6px; overflow:hidden;}
.tabswork ul{ width:100%; float:left;}
.tabswork ul li{ width:20%; float:left;}
.tabswork ul li:last-child a{border-right:0px solid #cfcfcf; }
.tabswork ul li a{display: block; height: 36px;line-height: 36px; text-align: center; overflow: hidden; border:1px solid #cfcfcf; color: #a6a6a6; font-weight: bold; font-size: 16px; background-color: #fbfbfa; background-image:-webkit-linear-gradient(top, #fbfbfa, #eae9e5); width:100%; border-top:0px; border-left:0px;}
.tabswork ul li a.active{ color: #656565; border-bottom: 0; background: #fff;}

.inrwork{padding: 4% 8%; width:100%; float:left;}
.inrwork p{ font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  text-align:center; font-weight:500; font-size: 22px; line-height: 34px; color: #4a4a4a; margin: 0; padding: 0;}

.bgcust{ background:#fff;}

.costomersec{ background:#f7f6f1; width:100%; float:left; padding:30px 0;}
.costomersec h3{ padding:20px 0; margin-bottom:30px; color:#9b9b9b; font-size:22px; font-weight:500; line-height:40px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; width:100%; float:left;}
.costomersec h3 a{ float:right; border: 1px solid #239d4a; color: #fff; background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); width:35%; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); font-size:15px; line-height:39px; height:40px; color:#fff; border-radius:4px; font-weight:500; text-align:center;}

.costomersec h4{ padding:20px 0 30px; margin-bottom:0px; color:#9b9b9b; font-size:22px; font-weight:500; line-height:40px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; width:100%; float:left; border-bottom:0px solid #ddd; border-top:1px solid #ddd;}
.costomersec h4 a{ float:right; border: 1px solid #239d4a; color: #fff; background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); width:35%; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); font-size:15px; line-height:39px; height:40px; color:#fff; border-radius:4px; font-weight:500; text-align:center;}
.costomersec ul{}
.costomersec ul li{ width:33.33%; padding:0 10px; float:left; margin-bottom:20px;}

.custsec{ width:100%; float:left; box-shadow:0 0 4px rgb(0 0 0 / 25%); background:#fff; margin-bottom:15px;}
.share-button { position: absolute; top: 5px; right: 5px; display: block; overflow: visible; opacity: 0;}
.topcust{ width:100%; float:left; padding:15px; height:110px; overflow: hidden;}
.topcust span{ height:80px; width:80px; border-radius:50%; float:left; border:2px solid #fff; box-shadow:rgb(0 0 0 / 30%) 0 1px 4px; margin-right:15px;}
.topcust span img{ width:100%; float:left;}
.topcust h3{font-size: 18px; line-height: 25px; word-wrap:break-word; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#606060; float:right; padding:0px; margin:0px;}
.topcust h4{font-size: 12px; line-height: 18px; color: #9c9c9c; font-weight: normal; word-wrap:break-word; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; float:left;}
.topcust b{ float:left; width:60%;}
.custsec p{ font-size: 15px; line-height: 21px; color: #4a4a4a; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.custsec a{ background-color:#70c4dc; background-image:-webkit-linear-gradient(top, #70c4dc, #57abc3); color:#fff; border:1px solid #4d98ad; margin-top:15px; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; border-radius:4px; display:inline-block; width:100%; text-align:center;}
.mdlcust{ width:100%; float:left; padding:0 15px 15px;}

.custrevw{ width:100%; float:left; padding-left:30px; background:url(../images/img14.png) no-repeat; left: top;}
.custrevw h6{ font-size:22px; line-height:1.1; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin:0px 0 5px; color:#4a4a4a;}
.custrevw p{ font-size: 15px; line-height: 21px; color: #606060; margin-top: 0; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
.custrevw ul{ width:100%; float:left;}
.custrevw ul li{ width:100%; float:left; padding:0px; margin-bottom:25px;}
.bubble{border: 1px solid #ebebe3; padding: 15px; width: 100%; border-radius: 6px; background: #fff; position: relative; box-shadow: 0 1px 3px rgb(0 0 0 / 5%);}
.bubble:after{ width: 15px;  height: 10px; top: auto; bottom: -10px;left: 15px; background-image: url(../images/buble.png); background-size: 15px 10px; position:absolute; content:"";}
.bubble p{ margin:0px;}
.avatar{ width:100%; float:left; padding-top:15px;}
.avatar img{ width:30px; height:30px; border-radius:50%; float:left; margin-right:10px;}
.avatar h5{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  font-weight:500; font-size:15px; line-height: 30px; color: #606060; margin: 0; padding: 0;}
.avatar h5 b{ color:#9c9c9c; font-weight:500;}



.toptab7s{ padding-top:30px;}
.current{ float:left; width:100%;}
.current h3{ float:left; color:#606060; font-size:15px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.current h3 a{ color:#52a1b8;}
.current h4{ float:right; color:#606060; font-size:15px; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.current h4 a{ color:#52a1b8;}


.custdetil span{ width:140px; margin-right:20px; height:140px; border-radius:50%; float:left; border:3px solid #fff; box-shadow:rgb(0 0 0 / 30%) 0 1px 4px;}
.custdetil span img{ width:100%; float:left; height:auto;}
.custdetil b{ width:82%; float:left;}
.custdetil h2{font-size: 34px; line-height: 45px;  font-weight: 200; margin: 0; padding:0px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.custdetil p{font-size: 15px; line-height: 21px; margin-top: 10px; color: #9c9c9c; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:400;}
.detailsec{ background: #fff; padding: 20px 25px; box-shadow: rgb(0 0 0 / 30%) 0 1px 3px; width:100%; float:left; margin-top:25px;}
.detailsec ul{}
.detailsec ul li{ width:25%; float:left;}
.detailsec ul li h3{margin-bottom: 7px; font-size: 22px; font-weight: bold; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:normal; color:#606060; padding:0px;}
.detailsec ul li dl{ font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 15px; line-height: 22px; font-weight:500;}
.detailsec ul li dd{ margin:3px 0; width:100%; float:left; font-weight:500;}
.detailsec ul li dt{ margin:0px 0; width:100%; float:left; font-weight:500;}

.custdetil2{background:#f7f6f1; width:100%; float:left; padding:30px 0;}
.custdetil2 ul{}
.custdetil2 ul li{ width:100%; float:left; margin-bottom:40px;}
.custdetil2 ul li h3{ font-size: 22px; color: #4a4a4a; margin-bottom:5px; margin-top:20px; line-height:1.1; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.custdetil2 ul li h3 img{ width:22px; float:left; height:auto; margin-right:8px;}
.custdetil2 ul li p{ padding-left:30px; margin-bottom:20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 15px; line-height: 21px;}
.qsmall{ width:100%; float:left; padding-left:30px;}
.qsmall span{ width:32px; height:32px; border-radius:50%; float:left; margin-right:15px; border:2px solid #fff; box-shadow:rgb(0 0 0 / 30%) 0 1px 4px;}
.qsmall span img{ width:100%; float:left; height:auto;}
.bubble1{ width:100%; float:left;}

.bubble1{border: 1px solid #ebebe3; padding:10px 15px; width: 90%; border-radius: 6px; background: #fff; position: relative; box-shadow: 0 1px 3px rgb(0 0 0 / 5%);}
.bubble1:after{ content: ""; width: 10px; height: 10px; overflow: hidden; position: absolute; top: 10px; left: -10px;background: url(../images/img15.png) 0 0 no-repeat; background-size: 10px 10px;}
.bubble1 p{ padding-left:0px!important; margin:0px!important;}

.qsmall2{ width:100%; float:left; padding-left:30px; margin-bottom:20px;}
.qsmall2 span{ width:60px; height:60px; border-radius:50%; float:left; margin-right:15px; border:2px solid #fff; box-shadow:rgb(0 0 0 / 30%) 0 1px 4px;}
.qsmall2 span img{ width:100%; float:left; height:auto;}
.qsmall2 b{ width:90%; float:right;}
.qsmall2 b h5 a{ color:#52a1b8; font-weight:700;}
.qsmall2 b h5, .qsmall2 b h6{ font-size:15px; line-height:22px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color:#606060;}
.qsmall2 b h5 em{ font-style:normal; color:#9b9b9b;}

.custdetil2 strong{ padding:20px 0 30px; margin-bottom:0px; color:#9b9b9b; font-size:22px; font-weight:500; line-height:40px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; width:100%; float:left; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.custdetil2 strong a{ float:right; border: 1px solid #239d4a; color: #fff; background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); width:35%; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); font-size:15px; line-height:39px; height:40px; color:#fff; border-radius:4px; font-weight:500; text-align:center;}
.custdetil2 .current{ padding-top:30px;}
.noticform ul{ width:100%; float:left;}
.noticform ul li{ width:100%; float:left;}
.noticform ul li .inrline{ border-bottom:0px;}
.noticform ul li:first-child .inrline{border-radius:4px 4px 0px 0px;}
.noticform ul li:last-child .inrline{ border-bottom:1px solid #d9d9d9; border-radius:0px 0 4px 4px;}
.noticform h3{padding: 0; margin-top:15px; font-size: 12px; font-weight: normal; font-style: normal; color: #9c9c9c;line-height: 18px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; width:100%; float:left;}
.noticform h3 b{ color:#333637;}
.noticform h3 a{ color:#52a1b8;}

.li0mg ul li{ margin:0px; border-radius:0px; border-bottom:0px;}
.li0mg ul li input[type="submit"]{ margin-top:20px;}
.li0mg ul li input[type="password"], .content-sec1 input[type="number"], .content-sec1 select{border-radius:0px 4px 4px 0px; border-left-width:0px!important; height:44px; border:1px solid #d9d9d9; padding:10px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height:21px; width:72%;}

.content-sec7s h6{ padding:0px 0 30px; border-bottom:1px solid #e2e2e2; font-size: 22px; line-height: 30px;  color: #393939; margin-top: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom:20px;}
.content-sec7s ul li h3 strong{ margin-bottom:10px; display:inline-block;}
.content-sec7s h2 img{ float:right; width:130px; margin-top:5px;}

.expertse8s{ width:100%; float:left;}
.expertse8s h3{font-size: 18px; line-height: 25px; font-weight: 200; color: #929292; margin-top: 0; margin-bottom: 15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
.expertse8s h4{margin-top: 20px; font-size: 12px; color: #606060; text-align:center; line-height:1.1; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; text-align:center; width:100%; float:left;}
.expertse8s h4 strong{ color:#52a1b8;}
.expertse8s p{margin: 0px;font-size: 12px; color: #9c9c9c; text-align:center; line-height:21px; font-weight:500; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; text-align:center; width:100%; float:left;}

.balancesec{ width:100%; float:left; background-color: #ededed; background-image: linear-gradient(top, #ededed, #e3e3e3); border: 1px solid #cecece; border-radius: 4px;  padding: 15px; box-shadow: 0 1px 5px rgb(0 0 0 / 10%);}
.balancesec input[type="text"]{color: #606060; padding: 2px 15px 2px 30px; text-align: right; border-radius: 4px; box-shadow: inset 0 1px 3px rgb(0 0 0 / 4%);font-weight: 500; font-size: 35px; width: 100%; border:1px solid #cecece; line-height:21px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.balancesec span{ position: relative; width:100%; float:left;}
.balancesec span:before { content: "$"; position: absolute; font-size:35px; color: #9c9c9c; margin-left: 10px; pointer-events: none; top: 0px;opacity: 0.8;}
.balancesec input[type="submit"]{ background-color:#41ca6d; background-image:-webkit-linear-gradient(top, #41ca6d, #2cc55d); color:#fff; border:1px solid #239d4a; box-shadow:0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%); text-shadow:0 1px 0 rgb(0 0 0 / 30%); height:40px; line-height:39px; font-size:15px; font-weight:600; border-radius:4px; display:inline-block; text-align:center; position: relative; text-transform:capitalize; width:100%; margin-top:22px;}
.balancesec h6{ display: block; color: #9c9c9c; font-size: 12px; text-align: center; margin-top: 10px; margin-bottom: -6.66667px; width:100%; float:left;}
.no-transactions{ padding: 59px 20px; border: 1px solid #d9d9d9; background: #f7f7f7;  color: #9c9c9c; text-align: center;border-radius: 4px; font-size:15px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:21px;}
.img-round{border-radius: 50% !important}
.image{background: none !important}