<template>
<div>
	<div class="limiter mt-5">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-30 p-r-30 p-t-45 p-b-30">
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Login 
					</span>

					<div class="wrap-input100 validate-input m-b-23 mt-4">
						<input class="input100" type="text" placeholder="Email"  
							v-model="Username"  
							name="Username"
						 	v-validate="'required|email'"
						 	>
						<span class="errorREd">{{ errors.first('Username') }}</span>
						<span class="errorREd">{{errorMessage}}</span>
					</div>

					<div class="wrap-input100 validate-input">	
						<input class="input100" type="password" name="password" placeholder="password" v-model="password" v-validate="'required'">
						<span class="errorREd">{{ errors.first('password') }}</span>
					</div>
					
					<br>			
					<button class="btn btn-success btn-block mt-4" @click="login" @click.prevent="login">LOG IN</button>

					<div class="txt1 text-center p-t-20 p-b-15">
					    <a href="#"><b>Don't have a Clarity account yet? Sign Up</b></a>
					</div>
					<hr>
					<p class="text-center">Log in using <a href="#">Facebook</a> <br><a href="#">Forgot password?</a></p>
					<hr>
					<p class="text-center" style="font-size: 13px;">By signing up, you agree to our <a href="#">Terms of Use</a> and <a href="#"> Privacy Policy</a>, and <br> you confirm that you're 18 years old or over.</p>
					
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
</div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                Username: '',
                password: '',
                errorMessage:''
            }
        },
        methods: {
            login() 
            {
                axios.post('login', {
                    'email': this.Username,
                    'password': this.password
                }).then(response => {
                	 if (response.data.status === 'Success') {
                        window.location.href = '';
                    } else{
                    		this.errorMessage = response.data.message;
                        console.log(this.errorMessage);
                    }
                });
            }
        }
    }
</script>
