<template>
<div>
      <section>
        <div class="bnr bnr-sub">
            <div class="container">
                <a :href="'account'">{{__('back')}}</a>
            </div>
        </div>
        <div class="content-sec">
            <div class="container">
                <h1>{{__('edit_profile')}}</h1>
                <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                    <h2>{{__('profile_settings')}}</h2>
                    <ul class="fcol1">
                        <li><a href="account/profile/info">{{__('basic_information')}}</a></li>
                        <li><a href="account/profile/image">{{__('profile_photo')}}</a></li>
                        <li><a href="account/profile/Verifications">{{__('verifications')}}</a></li>
                        <li><a href="account/profile/topic">{{__('topics')}}</a></li>
                    </ul>
                    <h2 v-if="user.is_expert == 1">{{__('expert_settings')}}</h2>
                    <ul class="fcol1"  v-if="user.is_expert == 1">
                        <li><a href="account/profile/expertise/">{{__('expert_listings')}}</a></li>
                        <li><a href="account/profile/expertise/info">{{__('hourly_rate')}}</a></li>
                        <li><a href="account/profile/expertise/video">{{__('video')}}</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                    <h2 v-if="user.is_expert == 1">{{__('get_more_calls')}}</h2>
                    <ul class="fcol1" v-if="user.is_expert == 1">
                        <li><a href="#">{{__('share_your_profile')}}</a></li>
                        <li><a href="#">{{__('add_blog_widget')}}</a></li>
                        <li><a href="#">{{__('vip_link')}}</a></li>
                    </ul>
                    <h2 v-if="user.is_expert == 1">{{__('too_busy_on_vacation')}}</h2>
                    <div class="expert-cta-block" v-if="user.is_expert == 1">
                        <p>Convert to Member so you won't appear in search and won't get any new calls. You can revert back any time.</p>
                        <a href="#" class="external1">Expert Application Pending Review</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
</template>


<script>
    export default {
        props: [ 'profileToast','user'],
        mounted()
        {
            if(this.profileToast){
               console.log('toeast');
            }
        }
    }
</script>
