    <template>
<div>
      <section>
        <div class="bnr bnr-sub">
            <div class="container">
                <a :href="'account/profile'">Back</a>
            </div>
        </div>
        <div class="content-sec2">
            <div class="container">
                <h1>Upload a New Profile Photo</h1>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12 float-left">
                        <div class="img-sec">
                            <span>
                                <img class="ticket-image" :src="previewImage.source" width="100" height="100">
                            </span>
                        </div>
                        <form  @submit.prevent="upload" enctype="multipart/form-data" >
                            <ul>
                                <li><input type="file" @change="ticketImage($event)"/></li>
                            </ul>
                            <button type="button"  @click="upload()" class="btn btn-success mt-4">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
</template>

<script>
    export default {
        props: [ 'user' ],
        data() {
            return {
                submitFiles: {},
                previewImage: {
                    source: this.user ? 'storage/images/profile/'+this.user.profile_image : ""
                },
            }
        },
        methods: {
            upload(){
                  axios.post('api/profile/image',{ 
                    'user_id' : this.user.id,
                    'profileImage':this.submitFiles
                }).then(response => 
                {
                    window.location.href = 'account/profile';
                })
            },
            ticketImage(event){
                    
                var file = event.target.files[0]
                var fileReader = new FileReader();
                fileReader.readAsDataURL(event.target.files[0]);
                
                fileReader.onload = (e) =>{
                    this.submitFiles = {file: e.target.result, name: file.name};
                    this.previewImage = {source: e.target.result, name: file.name};
                }
            }
        }
    }
</script>