<template>
<div>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-30 p-r-30 p-t-45 p-b-30" style="margin-top:90px;">
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Sing Up for Clarity
					</span>

					<p style="font-size: large;margin-top: 40px;" class="text-center">Join Clarity now — it's free!</p>

					<div class="wrap-input100 validate-input m-b-23 mt-4" data-validate = "Username is required" >
						<input class="input100" type="text" placeholder="Name" v-model="name" name="Username"
						 	v-validate="'required'">
							<span class="errorREd">{{ errors.first('Username') }}</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="text" placeholder="Email" v-model="email" name="email"
						 	v-validate="'required|email'">
							<span class="errorREd">{{ errors.first('email') }}</span>
					</div>

					<div class="wrap-input100 validate-input mt-4">
						<input class="input100" 
							type="password" placeholder="password" v-model="password" 
						 	v-validate="'required|min:8'"
							name="password"
						 	ref="password" 
						 	id="password">
							<span class="errorREd" v-show="errors.has('password')">{{ errors.first('password') }}</span>
					</div>

					<div class="wrap-input100 validate-input mt-4">
						<input class="input100" 
							type="password" 
							placeholder="Confirm password" 
							v-model="password_confirmation"
						 	v-validate="'required|confirmed:password|min:8'"
							name="password_confirmation"
						 	data-vv-as="password">
							<span class="errorREd" v-show="errors.has('password_confirmation')">{{ errors.first('password_confirmation') }}</span>
					</div>
					<br>
					<button class="btn btn-success btn-block mt-4" @click.prevent="register">CONTINUE</button>

					<div class="txt1 text-center p-t-20 p-b-15">
					    <a href="/login"><b>Already a Clarity member? Log In</b></a>
					</div>
					
					<hr>
					<p class="text-center" style="font-size: 13px;">By signing up, you agree to our <a href="#">Terms of Use</a> and <a href="#"> Privacy Policy</a>, and <br> you confirm that you're 18 years old or over.</p>
					
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                email: '',
                password:'',
                password_confirmation: '',
            }
        },
        methods:{
            register() 
            {
                axios.post('register', {
                    'name': this.name,
                    'email': this.email,
                    'password': this.password,
                    'password_confirmation': this.password_confirmation,
                }).then(response => {
                	console.log(response);
                        window.location.href = '';
                })
            }
        }
    }
</script>
