<template>
<div>
	<section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a href="setting">Cancel</a>
            </div>
        </div>
        <div class="content-sec1">
        	<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left li0mg">
                    	<h1>Change Password</h1>
                        <ul>
                            <li><label>New Password</label><input type="password" placeholder="Password" v-model="password" @change="onChangeHandler"></li>
                            <li><label>Confirm Password</label><input type="password" placeholder="Password again" v-model="confirm_password" @change="onChangeHandler"></li>
							<li><span class="errorREd">{{errorMessage}}</span></li>
							<li><span class="text-green">{{successMessage}}</span></li>
                            <li><input type="submit" value="Confirm" @click="changePassword"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
    export default {
        name: "Update-Password",
		props: ['userId'],
        data() {
            return {
                password: '',
                confirm_password: '',
                errorMessage:'',
                successMessage:''
            }
        },
        methods: {
			onChangeHandler(){
				this.errorMessage =  "";
			},
            changePassword() 
            {
				const that = this;
				if(this.password === this.confirm_password)
				{
					axios.post('api/auth/update-password/' + this.$attrs.userid, {
                    'password': this.password
					}).then(res => {
						that.successMessage = res.data.message;
						that.errorMessage = that.password = that.confirm_password = "";
					}).catch(err => {
						that.errorMessage = err.response.data.errors.password[0];
					});
				}
				else
					this.errorMessage = "Password do not match";
            }
        }
    }
</script>
