<template>
<div>
    <section>
    	   <div class="bnr">
            <div class="container">
                <div class="imgleft">
                    <a href="/account/profile">
                        <span v-if="user.profile_image" class="image">
                            <img :src="user.profile_image" alt="" class="img-round">
                        </span>
                        <span v-else>{{user.short_name}}</span>
                        <div class="biosec">
                        <h3><em></em> {{user.name}}</h3>
                        <h4>{{user.short_bio ? user.short_bio : "Software Engineer"}} <b></b> {{user.location ? user.location : "Pakistan"}}</h4>
                        <h5>{{user.mini_resume}}</h5>
                    </div>
                    </a>
                </div>
                <div class="statusright">
                    <h3>Free</h3>
                    <a v-bind:href="'user/' + (user.username ? user.username : '') ">{{__('view_profile')}}</a>
                    <div class="small-stats">
                      <span class="profile-stat"><i class="fa fa-star-o" aria-hidden="true"></i> <span>—</span></span>
                      <span class="profile-stat"><i class="fa fa-phone" aria-hidden="true"></i> <span>—</span></span>
                      <span class="profile-stat"><i class="fa fa-comment-o" aria-hidden="true"></i> <span>0</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sec">
        	<div class="container">
            	<div class="row">
            	<div class="col-lg-8 col-md-8 col-sm-12 float-left">
                	<h2>{{__('your_account')}}</h2>
                    <ul class="fcol">
                    	<li><a href="account/profile"><span>{{__('edit_profile')}}</span>{{__('profile_sub_heading1')}}</a></li>
                        <li><a href="setting"><span>{{__('setting')}}</span>{{__('profile_sub_heading2')}}</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                    <div v-if="user.is_expert == 1">
                        <h2>Stats — Last 30 Days</h2>
                        <div class="stats-sec">
                            <ul>
                                <li><img src="images/icon1.png" alt="">Impressions from Clarity<span>0</span></li>
                                <li><img src="images/icon2.png" alt="">Impressions from Clarity<span>0</span></li>
                                <li><img src="images/icon3.png" alt="">Impressions from Clarity<span>0</span></li>
                                <li><img src="images/icon4.png" alt="">Impressions from Clarity<span>0</span></li>
                                <li><img src="images/icon5.png" alt="">Impressions from Clarity<span>0%</span></li>
                            </ul>
                        </div>
                    </div>
                    <div v-if="user.is_expert == 0">
                        <h3>Get Paid for Your Professional Advice</h3>
                        <div class="expert-cta-block">
                            <p>There's a world full of business owners and entrepreneurs out there who are seeking your valued advice and feedback.</p>
                            <a href="#">Learn More</a>
                            <a href="account/profile/info/anexpert" class="external"> Apply To Be An Expert</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>


<script>
    export default {
        props: [ 'user' ],
        // data() {
        //     return {
        //     }
        // },
        // methods: {
        //     apply() 
        //     {
        //         axios.post('api/account/apply-for-expert', {
        //             'is_expert': true,
        //             'user_id' : this.user.id
        //         }).then(response => {
        //             if (response.data.response.status === 'Success') {
        //                 window.location.href = 'account/profile/info';
        //             }
        //         });
        //     }
        // }
    }
</script>