<template>
    <div>
        <section>
            <div class="bnr bnr-sub">
                <div class="container">
                    <a href="">Back</a>
                </div>
            </div>
            <div class="toptab1">
                <div class="container">
                    <h1>{{question.body ? question.body : "Is it possible to acces international credit from your Offshore LLC?"}}</h1>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                            <p>{{question.detail ? question.detail : "Many organizations offer services to create offshore companies and open bank accounts to allocate your capital. However I wonder if its possible to access credit from those offshore accounts and be able to leverage…"}}</p>
                            <a class="qusarea" :href="'quote-answer/'+question.id">Answer this question..</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 float-left btnsec">
                            <h3>Filed under: <strong v-for="(row, i) in question_topics[question.id]" v-show="question_topics[question.id].length" class="topics">{{row.topic.name + (i != (question_topics[question.id].length - 1) ? ',' : '')}}</strong></h3>
                            <h4>{{question.answers.length}} {{answer}} <em></em> {{getDateTime(question.created_at)}}</h4>
                            <a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> Share This Question</a>
                            <a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report This Question</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-sec">
                <div class="container">
                    <div class="expertsec3s">
                        <div class="col-lg-7 col-md-6 col-sm-12 float-left p-0 anssec2">
                            <h2>Latest Answers</h2>
                            <ul v-if = "question.answers.length > 0">
                                <li v-for="answer in question.answers">
                                    <span><img :src="getUserProfile(answer.user.profile_image)" alt="image"></span>
                                    <div class="leftcont">
                                        <h3><a :href="'user/'+ answer.user.username"><strong>{{answer.user.name}}</strong> answered:</a></h3>
                                        <p>{{answer.body}}</p>
                                        <div class="actionbtn">
                                            <button><i class="fa fa-phone" aria-hidden="true"></i> Talk to {{answer.user.name}}</button>
                                            <a href="#">Upvote</a>
                                            <em></em>
                                            <a href="#">Share</a>
                                            <b><a href="#">Report</a></b>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul v-else>Nobody answer this question yet</ul>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 float-left p-0 anssec1">
                            <h2>Related Questions</h2>
                            <question-Answers :questions="questions"></question-Answers>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import questionAnswers from './shared/answers';
export default {
    name: "Answer-details",
    props: ['question','questions','question_topics'],
    components: {questionAnswers},
    data() {
        return {
            answer: this.question.answers.length > 0 ? 'answers' : 'answer'
        }
    },
    methods: {
        getUserProfile(image){
            return image ? 'storage/images/profile/' + image : 'images/img1.png';
        },
        getDateTime(date)
        {
            return human(new Date(date));
        },
    }
}
</script>
<style scoped>
    .quote-answer{font-size: 12px !important;}
    .border-radius{border-radius: 50%}
</style>