<template>
    <div>
        <section>
            <div class="bnr bnr-sub">
                <div class="container">
                    <a href="">Back</a>
                </div>
            </div>
            <div class="content-sec6s">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                            <h1>Ask a Question</h1>
                            <ul>
                                <li><label>Question</label><textarea placeholder="Enter your question" v-model="body"></textarea></li>
                                <li><label>Details <b>(optional)</b></label><textarea placeholder="Provide more details" v-model="detail"></textarea></li>
                                <li><label>Add Topics</label>
                                    <Dropdown
                                        :options="options"
                                        :disabled="false"
                                        class="ques-search-dropdown"
                                        v-on:selected="validateSelection"
                                        placeholder="What are you interested in?">
                                    </Dropdown>
                                </li>
                                <li><div class="inrline"><h5>Post anonymously?</h5><label class="switch"><input type="checkbox" v-model="anonymously"><span class="slider round"></span></label></div></li>
                                <li><input type="submit" value="Ask your question" @click="submitQuestion"></li>
                                <li><span class="text-green">{{ successMessage }}</span></li>
                                <li><span class="errorREd">{{ errorMessage }}</span></li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                            <h2>Tips</h2>
                            <ol>
                                <li>Ask a specific question.</li>
                                <li>Be brief and to the point.</li>
                                <li>Stay focused on a single topic.</li>
                            </ol>
                        </div>
                        <div v-show="selected.length > 0">
                            <button v-for="(select, index) in selected" :class="'btn btn-primary ml-1'"> {{select}} <i style="font-size:20px" class="fa" @click="removeTopics(index)">&#xf00d;</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Dropdown from 'vue-simple-search-dropdown';
    export default {
        name: "Ask-Question",
        components: {
            Dropdown
        },
        data() {
            return {
                body: '',
                detail: '',
                anonymously: false,
                successMessage:'',
                errorMessage:'',
                options: [],
                authUser: window.authUser ? window.authUser.id : null,
                selected: []    
            }
        },
        mounted() {
            this.getAllTopics()
        },
        methods: {
            validateSelection(){
                var unique = [];
                var arr = [];
                if(event)
                {   
                    this.selected = this.selected.concat(event.target.textContent.trim());
                    this.selected = this.selected.filter(function (el) {return el != "";});
                    arr = this.selected

                    if(arr)
                        for(var value of arr){
                            if(unique.indexOf(value) === -1){
                            unique.push(value);
                            }
                        }
                    this.selected = unique
                }     
            },
            removeTopics(index){
                this.selected = this.selected.filter((e, i) => i != index);
            },
            getAllTopics(){
                const that = this;
                axios.get('api/topics/get-all-topics').then(res => {
                    that.options = res.data.topics;
                });
            },
            submitQuestion() 
            {
                if(this.authUser)
                {
                    const that = this;
                    axios.post('api/auth/ask-question', {
                        'body': this.body,
                        'detail': this.detail,
                        'anonymously': this.anonymously,
                        'topics': this.selected
                    }).then(res => {
                        window.location = "answer-details/"+ res.data.question_id
                        that.successMessage = res.data.message;
                        that.detail = that.body = that.errorMessage = "";
                        that.selected = [];
                        that.anonymously = false;
                    }).catch(err => {
                        that.errorMessage = err.response.data.errors.body[0];
                    });
                }
                else{
                    window.location = '/login';
                }
            }
        }
    }
</script>
