<template>
   <div>
         <section>
        <div class="bnr1">
            <div class="container">
                <ul class="bnr1sec">
                    <li v-for="category in categories">
                        <h2><a :href='"browse/" + category.key'>{{category.name}}</a></h2>
                        <span><img src="images/img2.png" alt=""></span>
                        <h3>
                            <a href="#">Career Advice,</a>
                            <a href="#">Branding,</a> 
                            <a href="#">Financial Consulting,</a> 
                            <a href="#">Customer Engagement</a>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-sec">
            <div class="container">
                <div class="tabsec">
                <h6>Showing:</h6>
                <ul class="nav" role="tablist">
                    <li>
                      <a class="active" data-toggle="tab" href="#featured">Featured</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#populer">Populer</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#new">New</a>
                    </li>
                  </ul>
                <ol>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Best Match</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Best Match</a>
                          <a class="dropdown-item" href="#">Lowest Price</a>
                        </div>
                      </li>
                  </ol>
                <h5>Sort by:</h5>
                </div>
                <div class="expertsec1s">
                    <!-- Tab panes -->
                      <div class="tab-content">
                        <div id="featured" class="container tab-pane active"><br>
                          <ul>
                            <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                <div class="exprt1s">
                                    <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                        <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                        <div class="content-expert1s">
                                            <h3>{{expertises[index - 1].title}}</h3>
                                            <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                            <p>{{expertises[index - 1].description}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="exprt2s">
                                	<h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                    <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                    <div class="starsec">
                                        <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                        <b v-show="reviews.length == 0">No Ratings Found</b>
                                        <b>({{reviews.length}})</b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                        <div id="populer" class="container tab-pane fade"><br>
                            <ul>
                                <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                    <div class="exprt1s">
                                        <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                            <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                            <div class="content-expert1s">
                                                <h3>{{expertises[index - 1].title}}</h3>
                                                <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                                <p>{{expertises[index - 1].description}}</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="exprt2s">
                                        <h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                        <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                        <div class="starsec">
                                            <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                            <b v-show="reviews.length == 0">No Ratings Found</b>
                                            <b>({{reviews.length}})</b>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="new" class="container tab-pane fade"><br>
                            <ul>
                                <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                    <div class="exprt1s">
                                        <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                            <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                            <div class="content-expert1s">
                                                <h3>{{expertises[index - 1].title}}</h3>
                                                <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                                <p>{{expertises[index - 1].description}}</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="exprt2s">
                                        <h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                        <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                        <div class="starsec">
                                            <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                            <b v-show="reviews.length == 0">No Ratings Found</b>
                                            <b>({{reviews.length}})</b>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      </div>
                      <button @click="loadMore += 2" v-show="loadMore < expertises.length">Load more</button>
                </div>
            </div>
        </div>
    </section>
   </div>
</template>
<script>

export default {
    name: "Browse",
    data() {
        return {
            expertises: [],
            loadMore: 5,
            reviews: [],
            expertises_images: [],
            authUser: window.authUser ? window.authUser.id : null,
            categories: [],
        }
    },
    mounted() {
        this.getAllExpertise()
        this.getAllCategories()
    },
    methods: {
        getReviews(){
            const that = this;
            axios.post('api/reviews/get-reviews',{
                expertise_id: expertise_id
            }).then(res => {
                that.reviews = res.data.reviews;
            });
        },
        getAllExpertise(){
            const that = this;
            axios.get('api/browse/browse-expertise')
            .then(res => {
                that.expertises = res.data.expertise;
                that.expertises_images = res.data.expertise_images;
            });
        },
        getAllCategories(){
            const that = this;
            axios.get('api/get-categories')
            .then(res => {
                that.categories = res.data.categories;
            });
        },
        getExpertiseImage(expertId){
            var image_url = this.expertises_images.filter(e => e.imageable_id == expertId).length ? this.expertises_images.filter(e => e.imageable_id == expertId)[0].image : 'images/thumb.jpg';
            return image_url;
        }
    }
}
</script>
