<template>
<div>
      <section>
      <div class="bnr2">
          <div class="container">
              <div class="toptab">
                  <h1>Calls</h1>
                    <ul class="nav" role="tablist">
                        <li>
                          <a class="active" data-toggle="tab" href="#unread">Active</a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#all">History</a>
                        </li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="content-sec">
          <div class="container">
                <div class="expertsec2s">
                  <!-- Tab panes -->
                      <div class="tab-content">
                        <div id="unread" class="container tab-pane active"><br>
                          <ul>
                            <li v-for="(call, index) in calls.bookings">
                              <span class="image">
                                <img :src="getUserProfile(call.booker_id)" alt="" class="img-round">
                              </span>
                              <div class="inboxcont">
                                <h3><a :href="'user/'+ getUserName(call.booker_id)">{{getUser(call.booker_id)}}</a> <b>{{getDateTime(call.created_at)}}</b></h3>
                                <div class="messagesec">
                                  <a href="#">{{call.message}}</a>
                                </div>
                                <div v-if="call.call_request.status == 0">
                                  <div class="scdule-box">
                                    <p>{{JSON.parse(call.suggest_datetime).date1 + ' ' + JSON.parse(call.suggest_datetime).time1}} <button class="btn btn-success" @click="changeStatus('schedule', call.call_request.id, JSON.parse(call.suggest_datetime).date1 + ' ' + JSON.parse(call.suggest_datetime).time1, call.booker_id, call.estimated_length)">Schedule</button></p>
                                    <p class="m-t-5">{{JSON.parse(call.suggest_datetime).date2 + ' ' + JSON.parse(call.suggest_datetime).time2}} <button class="btn btn-success" @click="changeStatus('schedule', call.call_request.id, JSON.parse(call.suggest_datetime).date2 + ' ' + JSON.parse(call.suggest_datetime).time2, call.booker_id, call.estimated_length)">Schedule</button></p>
                                    <p class="m-t-5">{{JSON.parse(call.suggest_datetime).date3 + ' ' + JSON.parse(call.suggest_datetime).time3}} <button class="btn btn-success" @click="changeStatus('schedule', call.call_request.id, JSON.parse(call.suggest_datetime).date3 + ' ' + JSON.parse(call.suggest_datetime).time3, call.booker_id, call.estimated_length)">Schedule</button></p>
                                  </div>
                                  <button class="btn btn-danger m-t-5" @click="changeStatus('reject', call.call_request.id)">Reject</button>
                                </div>  
                                <div v-else>
                                  <div v-if="call.call_request.status == 1">
                                    <button class="btn btn-success m-t-5">Scheduled</button>
                                  </div>    
                                  <div v-else-if="call.call_request.status == 2">
                                    <button class="btn btn-danger m-t-5">Rejected</button>
                                  </div>    
                                  <div v-else-if="call.call_request.status == 3">
                                    <button class="btn btn-primary m-t-5" v-show="checkExpiry(call.suggest_datetime, index)">Expired</button>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <div class="errormsg" v-show="calls.bookings.length == 0">
                            <h4>No unread calls</h4>
                            <p>You can send messages to people you're pending a call with, or ask clarifying questions right from expert's profiles.</p>
                          </div>
                        </div>
                        <div id="all" class="container tab-pane fade"><br>
                          <ul>
                           <li v-for="call in calls.bookings">
                              <span class="image">
                                <img :src="getUserProfile(call.booker_id)" alt="" class="img-round">
                              </span>
                              <div class="inboxcont">
                                <h3><a :href="'user/'+ getUserName(call.booker_id)">{{getUser(call.booker_id)}}</a> <b>{{getDateTime(call.created_at)}}</b></h3>
                                  <div class="messagesec">
                                    <a href="#">{{call.message}}</a>
                                  </div>
                              </div>
                            </li>
                          </ul>
                          <div class="errormsg" v-show="calls.bookings.length == 0">
                            <h4>No Calls</h4>
                            <p>You can send messages to people you're pending a call with, or ask clarifying questions right from expert's profiles.</p>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>

export default {
    name: "Calls",
    props: ['calls','users'],
    data() {
      return {
        authUser: window.authUser ? window.authUser.id : '',
      }
    },
    mounted() {
      
    },
    methods: {
      changeStatus(type, id, datetime = null, booker_id,estimated_length=null){
        const that = this;
        var status;
        status = type == 'schedule' ? 1 : 2
        axios.post('api/update-call-request-status',{
          status: status,
          call_request_id: id,
          datetime: datetime,
          booker_id: booker_id,
          sender_id: this.authUser,
          estimated_length: estimated_length
        }).then(res => {
          window.location.reload()
        });
      },
      checkExpiry(datetime, index){
        var datetime = JSON.parse(datetime)
      },
      getUser(user_id)
      {
        return this.users.filter(e => e.id == user_id)[0].name;
      },
      getUserName(user_id)
      {
        return this.users.filter(e => e.id == user_id)[0].username;
      },
      getUserProfile(user_id)
      {
        return this.users.filter(e => e.id == user_id)[0].profile_image ? 'storage/images/profile/' + this.users.filter(e => e.id == user_id)[0].profile_image : 'images/logo.png';
      },
      getDateTime(date)
      {
        return human(new Date(date));
      }
    }
}
</script>
<style scoped>
  .scdule-box{
    margin-top: 60px;
    background: #f7f6f1;
    padding: 10px;
  }
  .m-t-5{
    margin-top: 5px !important;
  }
</style>