<template>
<div>
    <section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a href="account/profile">Back</a>
            </div>
        </div>
        <div class="content-sec1">
        	<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                    	<h1>Your Hourly Rate</h1>
                        <form>
                        <ul>
                            <li><label>Hourly Rate</label>
                            	<select name="hourly_rate" v-model="hourly_rate.hourly">
								  <option disabled="disabled">Select an hourly rate</option>
								  <option value="0">$0</option>
								  <option value="60">$60</option>
								  <option value="100">$100</option>
								  <option value="120">$120</option>
								  <option value="150">$150</option>
								  <option value="175">$175</option>
								  <option value="200">$200</option>
								  <option value="250">$250</option>
								  <option value="300">$300</option>
								  <option value="350">$350</option>
								  <option value="400">$400</option>
								  <option value="450">$450</option>
								  <option value="500">$500</option>
								  <option value="600">$600</option>
								  <option value="1000">$1,000</option>
								</select></li>
                            <li><h3>Your hourly income after fees (15%): $85.00</h3></li>
                            <li><label>Charity</label>
                                <select name="charity" class="charities" v-model="hourly_rate.charity">
								  <option value="add">Add a new charity</option>
								  <option value="none" selected="">None</option>
								  <option value="6">DonorsChoose.org</option>
								  <option value="5">Pencils of Promise</option>
								  <option value="1">charity: water</option>
								</select></li>
								                            <li><input type="submit"  @click.prevent="submit" value="Save"></li>
                        </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>



<script>
    export default {
        props: [ 'user','anexpert'],
        data() {
            return {
                hourly_rate:{
                   hourly: this.user.hourly_rate || null,
                   charity: this.user.charity || null,
                },
            }
        },
        mounted() {
        },
        methods: {
            submit() 
            {
                axios.post('api/expertise/hourly_rate', {
                    'user': this.user.id,
                    'hourly_rate': this.hourly_rate,
                    'anexpert':this.anexpert
                }).then(response => {
                    this.$toast.success(response.data.message, {  
                        timer: 10
                    });
                    if (this.anexpert)
                        window.location.href = 'account/';
                    else
                        window.location.href = 'account/profile/expertise';
                });
            }
        }
    }
</script>
