<template>
<div>
    <section>
        <div class="bnr bnr-sub">
            <div class="container">
                <a :href="'account/profile'">Back</a>
            </div>
        </div>
        <div class="content-sec">
            <div class="container">
                <h1>Your Expertise Listings</h1>
                <div class="expertsec1">
                    <ul>
                        <li v-for="expert in expertises">
                            <div class="exprt1">
                                <a :href="expert.user_id + '/expertise/' + expert.expertise_id">
                                    <span><img :src="getExpertiseImage(expert.expertise_id) || 'images/thumb.jpg'" alt=""></span>
                                    <div class="content-expert1">
                                        <h3>{{expert.title}}</h3>
                                        <h4><strong>{{expert.user_name}}</strong> <em></em> {{expert.location ? expert.location : "Los Angeles and Ottawa, Canada"}}</h4>
                                        <p>{{expert.description}}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="exprt2">
                                <a :href="'account/profile/expertise/edit/' + expert.expertise_id">Edit</a>
                            </div>
                        </li>
                    </ul>
                    <a class="btnexprt" :href="'account/profile/expertise/add'">New Area of Expertise</a>
                </div>
            </div>
        </div>
    </section>
    
</div>
</template>

<script>
export default {
    name: "Expertise",
    props: ["user_id"],
    data() {
        return {
            expertises: [],
            expertises_images: []
        }
    },
    mounted() {
        this.getAllExpertise()
    },
    methods: {
        getAllExpertise(){
            const that = this;
            axios.post('api/browse/browse-expertise', {user_id: this.user_id})
            .then(res => {
                that.expertises = res.data.expertise;
                that.expertises_images = res.data.expertise_images;
            });
        },
        getExpertiseImage(expertId){
            var image_url = this.expertises_images.filter(e => e.imageable_id == expertId)[0];
            return image_url ? image_url.image : null;
        }
    }
}
</script>
