<template>
<div>
	<section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a href="">Back</a>
                <button>Share</button>
            </div>
        </div>
    	<div class="prosec1">
        	<div class="container">
            	<div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 float-left prosec">
                        <h1>{{expertise.title}}</h1>
                        <h4>Created {{expertise_created_at}} in <a :href=" 'browse/'+category.key">{{category.name}}</a></h4>
                        <div class="imgarea">
                        	<img :src="this.expertise_images.length > 0 ? 'storage/images/expertise/' + this.expertise_images[0].image : 'images/img00.jpg'" alt="">
                        </div>
                        <p>{{expertise.description}}</p>
                        <h5>
                        	<p>Related Topics</p>
                        	<a href="#" v-for="(topic,index) in expertise_topics" :class="index != 0 ? 'm-l-5' : ''">{{topic}}</a>
                        </h5>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 float-left">
                    	<div class="request-cal newsec">
                        	<h3>${{user.hourly_rate}}<strong>per hour</strong></h3>
                            <a :href="expertise.id + '/booking'" class="btncal" v-show="expertise.user_id != authUser">Request a Call</a>
                            <button v-show="addToFavorite" @click="addToFavorites"><i class="fa fa-heart-o" aria-hidden="true"></i> Save to Favorites</button>
                            <button v-show="addedToFavorite" @click="addToFavorites" class="added-to-fvrts"> Added to Favorites</button>
                            <div class="wishlist-info">saved {{expertise.favroite_count}} times</div>
                            <div class="starsec1">
                                <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                <b v-show="reviews.length == 0">No Ratings Found</b>
                                <b>({{reviews.length}})</b>
                            </div>
                        </div>
                        <div class="expro">
                        	<div class="topexpro">
                            	<span><img :src="user.profile_image" alt=""></span>
                                <div class="topcont">
                                    <h3><a :href="'user/'+user.username">{{user.name}}</a></h3>
                                    <h4>{{user.location ? user.location : "Raleigh, NC"}}</h4>
                                    <button v-show="expertise.user_id != authUser" @click="goToInbox">Send Message</button>
                                </div>
                                <p v-show="!user.mini_resume">I've bought, sold, flipped, managed, ran, brokered, and consulted on different types of routes (eg. FedEx, Snyders, Flowers, Pepperidge Farm, Bimbo Bakeries,</p>
                                <p>{{user.mini_resume}}</p>
                            </div>
                            <ul>
                            	<li><i class="fa fa-phone" aria-hidden="true"></i> 1,039</li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i> 4.9</li>
                                <li><i class="fa fa-comment-o" aria-hidden="true"></i> 173</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sec6s">
            <div class="container" v-show="authUser != expertise.user_id">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                        <h1>Leave a Review</h1>
                        <ul>
                            <li><textarea placeholder="Start typing..." v-model="review_body"></textarea></li>
                            <li>
                                <input type="submit" value="Leave" @click="submitReview">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviewsec">
        	<div class="container">
            	<h3 class="headre">Reviews ({{reviews.length}})</h3>
            	<div class="row">
                	<div class="col-lg-8 col-md-8 col-sm-12 float-left">
                        <p v-show="reviews.length === 0">No Review Found</p>
                    	<ul v-show="reviews.length > 0">
                        	<li v-if="reviews.length > 0 && reviews.length >= index && index <= loadMore" v-for="index in loadMore">
                            	<span class="image">
                                    <img :src="reviews[index -1 ].profile_image" alt="" class="img-round">
                                </span>
                                <div class="detailsec1s">
                                	<p>{{reviews[index -1 ].body}}</p>
                                    <h4><a href=""><img src="images/img9.png" alt="">{{reviews[index -1 ].user_name}}</a> <b>{{getDateTime(reviews[index -1 ].created_at)}}</b></h4>
                                </div>
                            </li>
                        </ul>
                        <a class="ldbtn" @click="loadMore += 2" v-show="loadMore < reviews.length">Load more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
    export default {
        name: "Expertise-Detail",
        props: ["user", "expertise", "category", "expertise_images","expertise_topics","expertise_fvrt_user_ids"],
        data() {
            return {
                authUser: window.authUser ? window.authUser.id : null,
                addToFavorite: true,
                loadMore: 2,
                addedToFavorite: false,
                review_body: "",
                reviews: [],
                expertise_created_at: human(new Date(this.expertise.created_at))
            }
        },
		mounted() {
            if(this.expertise_fvrt_user_ids.includes(this.authUser))
            {
                this.addToFavorite = false;
                this.addedToFavorite = true;
            }
            this.getReviews()
		},
        methods: {
            getReviews(){
                const that = this;
                axios.post('api/reviews/get-reviews',{
                    expertise_id: this.expertise.id
                }).then(res => {
                    that.reviews = res.data.reviews;
                });
            },
            addToFavorites(){
                if(this.authUser)
                {
                    const that = this;
                    axios.post('api/favorites/add-to-favorites',{
                        user_id: this.authUser,
                        expertise_id: this.expertise.id
                    }).then(res => {
                        this.$toast.success(res.data.message, {  
                            timer: 10
                        });
                        that.addToFavorite = false;
                        that.addedToFavorite = true;
                        window.location.reload();
                    }).catch(err => {
                        this.$toast.error(err.response.data.message, {  
                            timer: 10
                        });
                    });
                }
                else{
                    window.location = '/login';
                }
            },
            submitReview(){
                if(this.review_body == "")
                    this.$toast.error("Please enter something", {  
                        timer: 10
                    });
                else if(this.authUser)
                {
                    const that = this;
                    axios.post('api/reviews/save-review',{
                        user_id: this.authUser,
                        body: this.review_body,
                        expertise_id: this.expertise.id
                    }).then(res => {
                        this.$toast.success(res.data.message, {  
                            timer: 10
                        });
                        that.review_body = "";
                        that.getReviews();
                    });
                }
                else{
                    window.location = '/login';
                }
            },
            getDateTime(date)
            {
                return human(new Date(date));
            },
            goToInbox(){
                if(this.authUser)
                    window.location = '/inbox/start/' + this.expertise.id;
                else
                    window.location = '/login';
            },
        }
    }
</script>
<style scoped>
    textarea{
        border-left-width: 1px !important;
    }
</style>