<template>
<div>
   <section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a href="account/profile">Back</a>
            </div>
        </div>
        <div class="content-sec1">
        	<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                    	<h1>Add a video to your profile</h1>
                        <form>
                        <ul>
                            <li><label>Video Link</label><input type="text" placeholder="http://"></li>
                            <li><h3>YouTube, Vimeo or Blip link. Other video support coming soon</h3></li>
                            <li><input type="submit" value="Save"></li>
                        </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
