<template>
<div>
	 <section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a :href="'account/profile/expertise/'">Back</a>
            </div>
        </div>
        <div class="content-sec1 content-sec2s">
        	<div class="container">
                <div class="row">
                	<form>
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                    	<h1>New Area of Expertise</h1>
                        <ul>
                            <li><label>Title</label>
                                <input type="text" placeholder="I will give you advice on..." 
                                v-model="expertise.title"
                                 name="title"
                                  v-validate="'required'">
                                    <span class="errorREd text-center">{{ errors.first('title') }}</span>
                                    </li>
                            <li><h3>80 characters left</h3></li>
                            <li><label>Select a Category</label>
                                <select data-element="category" class="cust"
                                    v-model="expertise.category"
                                    name="category"
                                    v-validate="'required'">
                                <option value="" disabled hidden>Select a Category</option>
                                <option v-for="cat in category" :value="cat.id">
                                                {{cat.name}}
                                </option>
                                </select>
                                  <span class="errorREd text-center">{{ errors.first('category') }}</span>
                            </li>
                            <li><label>Description</label>
                                <textarea placeholder="Describe your experience, training, etc that demonstrate your skills & passion. Also, describe the benefits they'll receive."
                                v-model="expertise.description"
                                  name="description"    
                                  v-validate="'required'">
                                </textarea>
                                    <span class="errorREd text-center">{{ errors.first('description') }}</span>
                            </li>
                            <li><label>Add Topics</label>
                                <Dropdown
                                    :options="options"
                                    :disabled="false"
                                    class="ques-search-dropdown"
                                    v-on:selected="validateSelection"
                                    placeholder="What are you interested in?">
                                </Dropdown>
                            </li>
                        </ul>
                        <div v-show="selected.length > 0">
                            <button v-for="(select, index) in selected" :class="'btn btn-primary mt-3 ml-2'"> {{select}} <i style="font-size:20px" class="fa" @click="removeTopics(index)">&#xf00d;</i></button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                    	<h2>Cover Image</h2>
                        <div v-if="previewImage.source">
                            <img class="ticket-image" :src="previewImage.source"
                            style="width:100%; margin:10px 0px; border: 2px #f8f8f8 solid; height: 139px;">
                        </div>
                        <input type="file" @change="updateImage($event)">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 float-left">
                    	<ul>
                        	<li>
                                <input type="submit" @click.prevent="submit" value="Save Expertise">
                              </li>
                        </ul>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</template>


<script>
import Dropdown from 'vue-simple-search-dropdown';

    export default {
        props: [ 'user','category','anexpert','selected_expertise', 'expertise_images','selected_topics'],
        components: {
            Dropdown
        },
        data() {
            return {
                submitFiles: {},
                previewImage: {
                    source: this.expertise_images && this.expertise_images.length ? this.expertise_images[0].image : null
                },
                expertise:{ 
                    category: this.selected_expertise ? this.selected_expertise.category_id : '',
                    title: this.selected_expertise ? this.selected_expertise.title : '',
                    description: this.selected_expertise ? this.selected_expertise.description : '',
                    },
                topics: [],
                options: [],
                selected: this.selected_topics ? this.selected_topics.map(e => e = e.name) : []
            }
        },
        methods: {
            submit() 
            {
                if(this.expertise.category == '')
                    alert('Category Field required');
                else
                    axios.post('api/expertise/add', {
                        'expertise_id': this.selected_expertise && this.selected_expertise.expertise_id ? this.selected_expertise.expertise_id : null,
                        'user': this.user.id,
                        'expertise': this.expertise,
                        'image': this.submitFiles,
                        'topics': this.selected
                    }).then(response => {
                        this.$toast.success(response.data.message, {  
                            timer: 10
                        });
                        if (this.anexpert)
                            window.location.href = 'account/profile/expertise/info/anexpert';
                        else
                            window.location.href = 'account/profile/expertise';
                    }).catch(err => {
                        this.$toast.error(err.response.data.message, {  
                            timer: 10
                        });
                    });
            },
            updateImage(event){
                    
                var file = event.target.files[0]
                var fileReader = new FileReader();
                fileReader.readAsDataURL(event.target.files[0]);

                fileReader.onload = (e) =>{
                    this.submitFiles = {file: e.target.result, name: file.name};
                    this.previewImage = {source: e.target.result, name: file.name};
                }
            },
            getAllTopcis() 
            {
                const that = this;
                axios.get('api/topics/get-all-topics')
                .then(res => {  
                    that.topics = that.options = res.data.topics;
                });
            },
            validateSelection(){
                var unique = [];
                var arr = [];
                if(event)
                {   
                    this.selected = this.selected.concat(event.target.textContent.trim());
                    this.selected = this.selected.filter(function (el) {return el != "";});
                    arr = this.selected

                    if(arr)
                        for(var value of arr){
                            if(unique.indexOf(value) === -1){
                                unique.push(value);
                            }
                        }
                    this.selected = unique
                }     
            },
            removeTopics(index){
                this.selected = this.selected.filter((e, i) => i != index);
            },
        },
        created() {
            this.getAllTopcis();
        },
    }
</script>
