<template>
<div>
     <section>
    	<div class="bnr2">
        	<div class="container">
            	<div class="toptab">
                	<h1>Favorites</h1>
                    <ul class="nav" role="tablist">
                        <li>
                          <a class="active" data-toggle="tab" href="#listings">Listings</a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#experts">Experts</a>
                        </li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="content-sec">
        	<div class="container">
                <div class="expertsec1s">
                	<!-- Tab panes -->
                      <div class="tab-content">
                        <div id="listings" class="container tab-pane active"><br>
                          <ul v-show="favorites_expertises.length > 0">
                            <li v-for="expertise in favorites_expertises">
                                <div class="exprt1s">
                                    <a :href="expertise.user_id + '/expertise/' + expertise.expertise_id">
                                        <span><img :src="getExpertiseImage(expertise.expertise_id) || 'images/thumb.jpg'" alt=""></span>
                                        <div class="content-expert1">
                                            <h3>{{expertise.title}}</h3>
                                            <h4><strong>{{expertise.user_name}}</strong> <em></em> {{expertise.location ? expertise.location : "Los Angeles and Ottawa, Canada"}}</h4>
                                            <p>{{expertise.description}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="exprt2s">
                                	<h4>${{expertise.hourly_rate ? expertise.hourly_rate : 0}} <em>per hour</em></h4>
                                    <a :href="expertise.id + '/booking'" v-show="authUser != expertise.user_id">Request a Call</a>
                                    <div class="starsec">
                                    	<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><b>(192)</b>
                                    </div>
                                </div>
                            </li>
                          </ul>
                          <div class="errormsg" v-show="favorites_expertises.length === 0">
                          	<h4>No favorites</h4>
                            <p>Areas of Expertise will be added to your favorite list when you star the listings. Visit our search to find areas of expertise.</p>
                          </div>
                        </div>
                        <div id="experts" class="container tab-pane fade"><br>
                            <ul v-show="favorites_experts.length > 0">
                                <li v-for="expert in favorites_experts">
                                    <div class="exprt1s">
                                        <a :href="'user/' + expert.username">
                                            <span v-if="expert.profile_image" class="image">
                                                <img :src="expert.profile_image" alt="" class="img-round">
                                            </span>
                                            <span v-else>{{expert.short_name}}</span>
                                            <div class="content-expert1s">
                                                <h3>{{expert.name}}</h3>
                                                <h4><strong>{{expert.short_bio ? expert.short_bio : "Software Engineer"}}</strong> <em></em> {{expert.location ? expert.location : "Pakistan"}}</h4>
                                                <p>{{expert.mini_resume}}</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="exprt2s">
                                        <h4>${{expert.hourly_rate ? expert.hourly_rate : 0}} <em>per hour</em></h4>
                                        <a :href="expert.username + '/booking'" v-show="expert.id != authUser">Request a Call</a>
                                        <div class="starsec">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><b>(192)</b>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          <div class="errormsg" v-show="favorites_experts.length === 0">
                          	<h4>No favorites</h4>
                            <p>Areas of Experts will be added to your favorite list when you star the listings. Visit our search to find expert.</p>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
    export default {
        name: "Favorites",
        data() {
            return {
                favorites_expertises: [],
                favorites_experts: [],
                authUser: window.authUser.id,
                expertises_images: [],
            }
        },
		created() {
            this.favoritesExpertise();
		},
        methods: {
            favoritesExpertise()
            {
                const that = this;
                axios.post('api/favorites/my-favorites/',{
                    user_id: this.authUser
                })
                .then(res => {
                    that.favorites_expertises = res.data.expertise;
                    that.favorites_experts = res.data.experts;
                    that.expertises_images = res.data.expertise_images;
                });
            },
            getExpertiseImage(expertId){
                var image_url = this.expertises_images.filter(e => e.imageable_id == expertId).length ? this.expertises_images.filter(e => e.imageable_id == expertId)[0].image : 'images/thumb.jpg';
                return image_url;
            }
        }
    }
</script>