<template>
<div>
      <div class="bnr-sec">
            <img src="images/bnr.jpg" alt="">
            <div class="bnr-upr">
                <div class="container">
                    <div class="col-lg-7 col-md-8 col-sm-12 float-left">
                        <h1>Startup Advice <span>from</span> World Class Experts</h1>
                        <div class="bnr-inr">
                            <h2>Verified Expert</h2>
                            <h3><a href="#">Kate Kendall <span></span><em></em></a></h3>
                            <h4>Founder and CEO of CloudPeeps. Created The Fetch.</h4>
                            <ul>
                                <li><a href="browse/Fundraising">Fundraising</a></li>
                                <li><a href="browse/Marketplaces">Marketplaces</a></li>
                                <li><a href="browse/Social">Social Media Marketing</a></li>
                                <li><a href="browse/Email">Email Marketing</a></li>
                                <li><a href="browse/Community">Community Building</a></li>
                            </ul>
                            <div class="btnsec">
                                <a class="btn1" href="account">Find Your Expert</a>
                                <a href="#">Learn More</a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="work-sec">
            <div class="container">
                <h2>How it works</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                        <h3>Step-by-Step</h3>
                        <div class="firstsec">
                            <ul>
                                <li><em><b>1</b></em>
                                    <span>
                                        <h4>Find an Expert</h4>
                                        <p>Browse our community of experts to find the right one for you.</p>
                                    </span>
                                </li>
                                <li><em><b>2</b></em>
                                    <span>
                                        <h4>Request a Call</h4>
                                        <p>At this time, you will be pre-charged for the estimated length of the call, based on the expert's per-minute rate.</p>
                                    </span>
                                </li>
                                <li><em><b>3</b></em>
                                    <span>
                                        <h4>Connect Directly</h4>
                                        <p>Call the conference line provided. After the call, the charge will be adjusted to reflect the actual length of the call.</p>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                        <h3>Browse Topics</h3>
                        <div class="form-inr">
                            <form>
                                <input type="text" placeholder="Search topic">
                            </form>
                            <ul>
                                <li><a href="topics/entrepreneurs">Entrepreneurship</a></li>
                                <li><a href="topics/entrepreneurs">Business Development</a></li>
                                <li><a href="topics/entrepreneurs">Marketing Strategy</a></li>
                                <li><a href="topics/entrepreneurs">Social Media</a></li>
                                <li><a href="topics/entrepreneurs">Business Strategy</a></li>
                                
                                <li><a href="topics/entrepreneurs">Online Marketing</a></li>
                                <li><a href="topics/entrepreneurs">Social Media Marketing</a></li>
                                <li><a href="topics/entrepreneurs">Marketing</a></li>
                                <li><a href="topics/entrepreneurs">Digital Marketing</a></li>
                                <li><a href="topics/entrepreneurs">Strategic Planning</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                        <h3>Get Answers</h3>
                        <div class="thrdsec">
                            <a href="#">What's a middle ground between dropshipping and wholesaling for an ecommerce business?</a>
                        </div>
                        <div class="secinr">
                            <a href="#">4 Answers from</a>
                            <ul>
                                <li><a href="#"><img src="images/thumb.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/thumb.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/thumb.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/thumb.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left btnwork">
                        <a href="account">Find Experts</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left btnwork">
                        <a href="topics">View All Topics</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left btnwork">
                        <a href="question/new">Ask a Question</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertsec">
            <div class="container bgsec">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                        <h2>Are you an Expert?</h2>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                        <p>Join a community of passionate experts and thought-leaders who are being sought out by fellow entrepreneurs.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                        <a href="account">Become an Expert</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 float-left">
                    <div class="clocksec">
                        <div class="clock">
                          <div class="top"></div>
                          <div class="right"></div>
                          <div class="bottom"></div>
                          <div class="left"></div>
                          <div class="center"></div>
                          <div class="hour"></div>
                          <div class="minute"></div>
                          <div class="second"></div>
                        </div>
                        <h3>EVERY</h3>
                        <h4>90<span>second</span></h4>
                        <h5>a startup is on the phone with a Clarity Expert</h5>
                        <ul>
                          <li><span class="number">73k+</span> <span class="content">Completed calls with Experts</span></li>
                          <li><span class="number">98%</span> <span class="content">Positive Clarity Expert calls</span></li>
                          <li><span class="number">4.8/5</span> <span class="content">Average Clarity Expert star rating</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 float-left">
                    <div class="testisec">
                        <p>"We really needed help with our messaging and brand story. Clarity helped us get there:
                        <strong>at TechCrunch Disrupt, we literally had lines of people wanting to talk to us and watch our demo.</strong>"</p>
                        <span><img src="images/img1.png" alt=""></span>
                        <h3>M. Geneles & A. Gopshtein</h3>
                        <h4>Founders of Pitchbox</h4>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="ftrmdl">
            <a href="#">Clarity</a>
        </div>
        <div class="ftr">
            <div class="container">
                <ul class="ftrsec">
                    <li>
                        <h3><a href="">About</a></h3>
                        <a href="how-it-work">How it Works</a>
                        <a href="customers">Success Stories</a>
                    </li>
                    <li>
                        <h3><a href="#">Experts</a></h3>
                        <a href="account">Become an Expert</a>
                        <a href="browse">Find an Expert</a>
                    </li>
                    <li>
                        <h3><a href="#">Answers</a></h3>
                        <a href="question/new">Ask a Question</a>
                        <a href="questions">Recent Answers</a>
                    </li>
                    <li>
                        <h3><a href="#">Support</a></h3>
                        <a href="help">Help</a>
                        <a href="terms">Terms of Service</a>
                    </li>
                    <li>
                        <h3>Follow</h3>
                        <h4>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ftrbtm">
            <div class="container">
                <h3>the <b>startups.com</b> platform</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/01.png" alt="">
                            <h5>Startups Education</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/01.png" alt="">
                            <h5>Startup Planning</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/01.png" alt="">
                            <h5>Access Mentors</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/01.png" alt="">
                            <h5>Secure Funding</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/01.png" alt="">
                            <h5>Reach Customers</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/01.png" alt="">
                            <h5>Virtual Assistants</h5>
                        </a>
                    </li>
                </ul>
                <h4>Copyright &copy; 2021 Startups.com. All rights reserved.</h4>
            </div>
        </div>
    </footer>
</div>
</template>
