<template>
	<div>
        <ul>
            <li class="dropdown"><a href="#" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    <a :href='"browse/" + category.key' v-for="category in categories">{{category.name}}</a>
                </div>
            </li>
            <li class="search-bar">
                <input type="text" placeholder="Search anything" class="search" @change="search">
            </li>
            <li><a href="dashboard">Dashboard </a></li>
            <li><a href="browse">Browse</a></li>
            <li><a href="questions">Answers</a></li>
        </ul>
	</div>
</template>

<script>
    export default {
        name: "Category",
        data() {
            return {
                categories: [],
            }
        },
		mounted() {
			this.getCategories();
		},
        methods: {
            getCategories() 
            {
				const that = this;
                axios.get('api/get-categories').then(res => {
					that.categories = res.data.categories;
                });
            },
            search() 
            {
                axios.post('/search', {query: event.target.value}).then(res => {
					window.location = "/search"
                });
            }
        }
    }
</script>
