<template>
    <div>
        <div class="col-lg-5 col-md-6 col-sm-12 float-left p-0 anssec1">
            <h2>Popular Answers</h2>
            <question-Answers :questions="questions"></question-Answers>
        </div>
    </div>
</template>
<script>
import questionAnswers from './shared/answers';
export default {
    name: "Popular-Answer",
    components: {questionAnswers},
    data() {
        return {
            questions: [],
        }
    },
    mounted() {
        this.getAllQuestions()
    },
    methods: {
        getAllQuestions(){
            const that = this;
            axios.get('api/auth/questions').then(res => {
                that.questions = res.data.questions;
            });
        },
    }
}
</script>