<template>
<div>
       <section>
    	<div class="bnr2">
        	<div class="container">
            	<div class="toptab">
                	<h1>Answers</h1>
                    <ul class="nav" role="tablist">
                        <li>
                          <a class="active" data-toggle="tab" href="#latest">Latest</a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#open">Open <span>{{questions.length}}</span></a>
                        </li>
                        <h3><a href="question/new">Ask a Question</a></h3>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="content-sec">
        	<div class="container">
                <div class="expertsec3s">
                	<!-- Tab panes -->
                      <div class="tab-content">
                        <div id="latest" class="container tab-pane active">
                          	<div class="col-lg-7 col-md-6 col-sm-12 float-left p-0 anssec">
                            	<h2>Latest Answers</h2>
                                <ul>
                                	<li v-if="questions.length > 0 && questions.length >= index && index <= loadMore" v-for="index in loadMore">
                                    	<span v-for="(row, i) in question_topics[questions[index-1].id]" v-show="question_topics[questions[index-1].id].length" class="topics">{{row.topic.name + (i != (question_topics[questions[index-1].id].length - 1) ? ',' : '')}}</span>
                                        <h3><a :href="'answer-details/'+questions[index-1].id">{{questions[index-1].body}}</a><br><a :href="'quote-answer/'+questions[index-1].id" class="quote-answer">Quote your answer</a></h3>
                                        <h4>{{questions[index-1].answers.length}} answers <em></em> {{getDateTime(questions[index-1].answers[questions[index-1].answers.length - 1])}}</h4>
                                        <div class="messagesec">
                                        	<a v-if="questions[index-1].answers.length > 0">{{questions[index-1].answers[questions[index-1].answers.length - 1].body}}
                                                <div class="authsec"><b><img class="border-radius" :src="getUserProfile(questions[index-1].answers[questions[index-1].answers.length - 1].user.profile_image)" alt="image"></b><h5>{{questions[index-1].answers[questions[index-1].answers.length - 1].user.name}}</h5></div>
                                            </a>
                                            <a v-else>No one answer this question yet
                                                <div class="authsec"><b><img src="images/img1.png" alt=""></b><h5>Almarie Campbell</h5></div>
                                            </a>
                                        </div>
                                    </li>
                                    <a class="ldbtn" @click="loadMore += 2" v-show="loadMore < questions.length">Load more</a>
                                </ul>                                
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 float-left p-0 anssec1">
                            	<h2>Search Questions</h2>
                                <form>
                                    <input type="text" placeholder="Search">
                                </form>
                                <h2>Open Questions</h2>
                                <ul>
                                	<li v-if="questions[questions.length - 2]">
                                    	<a :href="'quote-answer/'+questions[questions.length - 2].id">{{questions[questions.length - 2].body}}</a>
                                        <a :href="'quote-answer/'+questions[questions.length - 2].id" class="formsec">Answer this question..</a>
                                    </li>
                                    <li v-if="questions[questions.length - 1]">
                                    	<a :href="'quote-answer/'+questions[questions.length - 1].id">{{questions[questions.length - 1].body}}</a>
                                        <a :href="'quote-answer/'+questions[questions.length - 1].id" class="formsec">Answer this question..</a>
                                    </li>
                                </ul>
                                <h2>Popular Answers</h2>
                                <question-Answers :questions="questions"></question-Answers>
                            </div>
                        </div>
                        <div id="open" class="container tab-pane fade"><br>
                          	<div class="col-lg-7 col-md-6 col-sm-12 float-left p-0 anssec">
                            	<h2>Latest Answers</h2>
                                <ul>
                                	<li v-if="questions.length > 0 && questions.length >= index && index <= loadMore" v-for="index in loadMore">
                                    	<span v-if="questions[index-1]" v-for="(row, i) in question_topics[questions[index-1].id]" v-show="question_topics[questions[index-1].id].length" class="topics">{{row.topic.name + (i != (question_topics[questions[index-1].id].length - 1) ? ',' : '')}}</span>
                                        <h3><a :href="'answer-details/'+questions[index-1].id">{{questions[index-1].body}}</a></h3>
                                        <h4>{{getDateTime(questions[index-1])}} <a href="#" class="dismiss">Dismiss</a></h4>
                                        
                                    </li>
                                    <a class="ldbtn" @click="loadMore += 2" v-show="loadMore < questions.length">Load more</a>
                                </ul>                                
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 float-left p-0 anssec1">
                            	<h2>Search Questions</h2>
                                <form>
                                	<input type="text" placeholder="Search">
                                </form>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
import questionAnswers from './shared/answers';
export default {
    name: "Questions",
    props: ['questions', 'question_topics'],
    data() {
        return {
            loadMore: 4,
        }
    },
    components: {questionAnswers},
    methods: {
        getUserProfile(image){
            return image ? 'storage/images/profile/' + image : 'images/img1.png';
        },
        getDateTime(date, type=null)
        {
            return date ? human(new Date(date.created_at)) : '4 hours ago';
        }
    }
}
</script>
<style scoped>
    .quote-answer{font-size: 12px !important;}
    .border-radius{border-radius: 50%}
    .topics{
        font-size: 12px;
        color: #9c9c9c;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 21px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
</style>