<template>
    <div>
        <section>
            <div class="bnr bnr-sub">
                <div class="container">
                    <a href="">Back</a>
                </div>
            </div>
            <div class="content-sec6s">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                            <h1>Ask a Question</h1>
                            <ul>
                                <li><p>{{question.body}}</p></li>
                                <li><label>Quote your answer</label><textarea placeholder="add your answer" v-model="body"></textarea></li>
                                <li><input type="submit" value="Save" @click="submitAnswer"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Ask-Question",
        props: ['question'],
        data() {
            return {
                body: '',
                authUser: window.authUser ? window.authUser.id : null,
            }
        },
        mounted() {
        },
        methods: {
            submitAnswer() 
            {
                if(this.authUser)
                {
                    const that = this;
                    axios.post('api/save-answer', {
                        'body': this.body,
                        'question_id': this.question.id,
                        'user_id': this.authUser
                    }).then(res => {
                        this.$toast.success(res.data.message, {  
                            timer: 10
                        });
                        window.location = '/dashboard';
                    }).catch(err => {
                        this.$toast.error(err.response.data.message, {  
                            timer: 10
                        });
                    });
                }
                else{
                    window.location = '/login';
                }
            }
        }
    }
</script>