<template>
    <div class="col-lg-7 col-md-6 col-sm-12 float-left p-0 anssec3">
        <h2>Recent Activity</h2>
        <ul>
            <li v-for="activity in recent_activities" v-show="recent_activities.length > 0">
                <span><img class="border-radius" :src="activity.avatar ? 'storage/images/profile/' + activity.avatar : 'images/img1.png'" alt=""></span>
                <div class="text-sec" v-if="activity.activity_type == 'expertise' || activity.activity_type == 'expert'">
                    <b><i class="fa fa-heart" aria-hidden="true"></i></b>
                    <h3>{{activity.body}}</h3>
                    <h4>{{getDateTime(activity.created_at)}}</h4>
                </div>
                <div class="text-sec" v-else-if="activity.activity_type == 'answer'">
                    <b><i class="fa fa-comment" aria-hidden="true"></i></b>
                    <h3>{{JSON.parse(activity.body).question}}</h3>
                    <h4>{{getDateTime(activity.created_at)}}</h4>
                    <div class="messagesec">
                        <a href="#">{{JSON.parse(activity.body).answer}}</a>
                    </div>
                </div>
            </li>
            <li v-show="recent_activities.length == 0"> No activity found</li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['recent_activities'],
        methods: {
            getDateTime(date)
            {
                return human(new Date(date));
            }
        }
    }
</script>
<style scoped>
    .border-radius{border-radius: 50%}
</style>