<template>
<div>
    <section>
        <div class="content-sec">
        	<div class="container">
            	<div class="tabsec">
            	<h6>Showing:</h6>
            	<ul class="nav" role="tablist">
                	<li>
                      <a class="active" data-toggle="tab" href="#all">All</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#featured">Featured</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#populer">Populer</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#new">New</a>
                    </li>
                  </ul>
                <ol>
                  	<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Best Match</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Best Match</a>
                          <a class="dropdown-item" href="#">Lowest Price</a>
                        </div>
                      </li>
                  </ol>
                <h5>Sort by:</h5>
                </div>
                <div class="expertsec1s">
                	<!-- Tab panes -->
                      <div class="tab-content">
                      	<div id="all" class="container tab-pane active"><br>
                          <ul>
                            <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                <div class="exprt1s">
                                    <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                        <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                        <div class="content-expert1s">
                                            <h3>{{expertises[index - 1].title}}</h3>
                                            <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                            <p>{{expertises[index - 1].description}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="exprt2s">
                                	<h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                    <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                    <div class="starsec">
                                        <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                        <b v-show="reviews.length == 0">No Ratings Found</b>
                                        <b>({{reviews.length}})</b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                        <div id="featured" class="container tab-pane fade"><br>
                          <ul>
                            <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                <div class="exprt1s">
                                    <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                        <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                        <div class="content-expert1s">
                                            <h3>{{expertises[index - 1].title}}</h3>
                                            <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                            <p>{{expertises[index - 1].description}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="exprt2s">
                                	<h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                    <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                    <div class="starsec">
                                        <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                        <b v-show="reviews.length == 0">No Ratings Found</b>
                                        <b>({{reviews.length}})</b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                        <div id="populer" class="container tab-pane fade"><br>
                          <ul>
                            <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                <div class="exprt1s">
                                    <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                        <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                        <div class="content-expert1s">
                                            <h3>{{expertises[index - 1].title}}</h3>
                                            <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                            <p>{{expertises[index - 1].description}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="exprt2s">
                                	<h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                    <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                    <div class="starsec">
                                        <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                        <b v-show="reviews.length == 0">No Ratings Found</b>
                                        <b>({{reviews.length}})</b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                        <div id="new" class="container tab-pane fade"><br>
                          <ul>
                           <li v-if="expertises.length > 0 && expertises.length >= index && index <= loadMore" v-for="index in loadMore">
                                <div class="exprt1s">
                                    <a :href="expertises[index - 1].user_id + '/expertise/' + expertises[index - 1].expertise_id">
                                        <span><img :src="getExpertiseImage(expertises[index - 1].expertise_id)" alt=""></span>
                                        <div class="content-expert1s">
                                            <h3>{{expertises[index - 1].title}}</h3>
                                            <h4><strong>{{expertises[index - 1].user_name}}</strong> <em></em> {{expertises[index - 1].location ? expertises[index - 1].location : "Los Angeles and Ottawa, Canada"}}</h4>
                                            <p>{{expertises[index - 1].description}}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="exprt2s">
                                	<h4>${{expertises[index - 1].hourly_rate}} <em>per hour</em></h4>
                                    <a :href="expertises[index - 1].expertise_id + '/booking'" v-show="expertises[index - 1].user_id !== authUser">Request a Call</a>
                                    <div class="starsec">
                                        <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                        <b v-show="reviews.length == 0">No Ratings Found</b>
                                        <b>({{reviews.length}})</b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                      </div>
                      <button @click="loadMore += 2" v-show="loadMore < expertises.length">Load more</button>
                </div>
            </div>
        </div>
    </section> 	
</div>
</template>

<script>
export default {
    name: "Search",
    props: ["search_results","expertise_images"],
    data() {
        return {
            expertises: this.search_results,
            loadMore: 5,
            reviews: [],
            authUser: window.authUser ? window.authUser.id : '',
        }
    },
    mounted() {
    },
    methods: {
        getReviews(){
            const that = this;
            axios.post('api/reviews/get-reviews',{
                expertise_id: expertise_id
            }).then(res => {
                that.reviews = res.data.reviews;
            });
        },
        getExpertiseImage(expertId){
            var image_url = this.expertise_images.filter(e => e.imageable_id == expertId)[0];
            return image_url ? image_url.image : 'images/img00.jpg';
        },
        getDateTime(date)
        {
            return human(new Date(date));
        }
    }
}
</script>
<style scoped>
    .content-sec{margin-top:100px}
</style>