<template>
	<section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a href="account">Back</a>
            </div>
        </div>
        <div class="content-sec">
        	<div class="container">
            	<h1>Account Settings</h1>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                        <h2>Settings</h2>
                        <ul class="fcol1">
                            <li><a href="setting/notification">Notifications</a></li>
                            <li><a href="setting/promotion">Promotions</a></li>
                            <li><a href="setting/password">Change Password</a></li>
                        </ul>
                       <form>
                       		<a class="delbtn" href="#" @click.prevent="deleteAccount">Delete Account</a>
                       </form>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 float-left">
                    	<h2>Payments</h2>
                        <ul class="fcol1">
                            <li><a href="setting/earned">Money</a></li>
                            <li><a href="setting/credit-card">Credit Card</a></li>
                            <li><a href="setting/billing-address">Billing Address</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
            	authUser: window.authUser.id
            }
        },
        methods: {
            deleteAccount()
            {
                axios.post('api/delete-account',{
                    is_delete: 1,
                    'user_id': this.authUser
                }).then(response => {
                	if (response.data.response.status === 'Success') {
                        this.$toast.success(response.data.response.message, {  
                            timer: 10
                        });
                            window.location.href = '';
                    }
                });
            }
        }
    }
</script>