<template>
<div>
      <section>
    	<div class="bnr bnr-sub">
        	<div class="container">
            	<a href="">Back</a>
            </div>
        </div>
        <div class="content-sec4s">
        	<div class="container">
            	<div class="inrsec-col4">
                	<ul>
                    	<li>
                        	<a href="topics/entreprenwurship">
                        		<span><img src="images/icon-lan.png" alt=""></span>
                                <div class="cont-sec">
                                	<h3>Entrepreneurship</h3>
                                    <h4>3,958 Experts</h4>
                                </div>
                            </a>
                        </li>
                        <li>
                        	<a href="topics/entreprenwurship">
                        		<span><img src="images/icon-lan.png" alt=""></span>
                                <div class="cont-sec">
                                	<h3>Entrepreneurship</h3>
                                    <h4>3,958 Experts</h4>
                                </div>
                            </a>
                        </li>
                        <li>
                        	<a href="topics/entreprenwurship">
                        		<span><img src="images/icon-lan.png" alt=""></span>
                                <div class="cont-sec">
                                	<h3>Entrepreneurship</h3>
                                    <h4>3,958 Experts</h4>
                                </div>
                            </a>
                        </li>
                        <li>
                        	<a href="topics/entreprenwurship">
                        		<span><img src="images/icon-lan.png" alt=""></span>
                                <div class="cont-sec">
                                	<h3>Entrepreneurship</h3>
                                    <h4>3,958 Experts</h4>
                                </div>
                            </a>
                        </li>
                        <li>
                        	<a href="topics/entreprenwurship">
                        		<span><img src="images/icon-lan.png" alt=""></span>
                                <div class="cont-sec">
                                	<h3>Entrepreneurship</h3>
                                    <h4>3,958 Experts</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="ldbtn">Load more</a>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
