<template>
<div>
    <section>
        <div class="bnr bnr-sub">
            <div class="container">
                <a :href="'account/profile'">Back</a>
            </div>
        </div>
        <div class="content-sec1 content-sec1s">
            <div class="container">
                <h1>Add topics that match your interest</h1>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12 float-left">
                        <ul>
                            <li>
                                <label>Add Topics</label>
                                <Dropdown
                                    :options="options"
                                    :disabled="false"
                                    class="search-dropdown"
                                    v-on:selected="validateSelection"
                                    placeholder="What are you interested in?">
                                </Dropdown>
                            </li>
                            <li>
                                <input type="submit" value="Save" @click="submit">
                            </li>
                        </ul>
                    </div>
                    <div v-show="selected.length > 0" class="ml-40">
                        <button v-for="(select, index) in selected" :class="'btn btn-primary ml-1'"> {{select}} <i style="font-size:20px" class="fa" @click="removeTopics(index)">&#xf00d;</i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>
</template>

<script>
import Dropdown from 'vue-simple-search-dropdown';

export default {
    name: "Topic",
    props: ['userId'],
    components: {
        Dropdown
    },
    data() {
        return {
            name: '',
            options: [],
            selected: []
        }
    },
    mounted() {
        this.getAllTopics()
        this.userTopics()
    },
    methods: {
        validateSelection(){
            var unique = [];
            var arr = [];
            if(event)
            {   
                this.selected = this.selected.concat(event.target.textContent.trim());
                this.selected = this.selected.filter(function (el) {return el != "";});
                arr = this.selected

                if(arr)
                    for(var value of arr){
                        if(unique.indexOf(value) === -1){
                           unique.push(value);
                        }
                    }
                this.selected = unique
            }     
        },
        removeTopics(index){
            this.selected = this.selected.filter((e, i) => i != index);
        },
        getAllTopics(){
            const that = this;
            axios.get('api/topics/get-all-topics').then(res => {
                that.options = res.data.topics;
            });
        },
        userTopics(){
            const that = this;
            axios.post('api/topics/user-topics',{user_id: this.$attrs.userid}).then(res => {
                that.selected = res.data.topics.map(e => e.name);
            });
        },
        submit() 
        {
            const that = this;
            axios.post('api/topics/save-user-interested-topic', {
                'name': this.selected,
                'user_id': this.$attrs.userid
            }).then(res => {
                this.$toast.success(res.data.message, {  
                    timer: 10
                });
                that.selected = "";
                this.userTopics()
            }).catch(err => {
                this.$toast.error(err.response.data.message, {  
                    timer: 10
                });
            });
        }
    }
}
</script>
<style>
    .text-green{
        color: green;
    }
    .ml-40{
        margin-left:40px;
    }
</style>