<template>
<div>
      <section>
        <div class="bnrs imgleftsec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 float-left">
                        <div class="imgleft1">
                            <span v-if="user.profile_image" class="image">
                                <img :src="user.profile_image" alt="" class="img-round">
                            </span>
                            <span v-else>{{user.short_name}}</span>
                            <div class="biosec1">
                                <h3><em></em> {{user.name}} <b>{{user.short_bio ? user.short_bio : "Software Engineer"}}</b></h3>
                                <h4><i class="fa fa-map-marker" aria-hidden="true"></i> {{user.location ? user.location : "Pakistan"}}</h4>
                                <h5>{{user.mini_resume}}</h5>
                            </div>
                        </div>
                        <div class="expertsec">
                            <h2>Areas of Expertises </h2>
                            <ul v-show="expertises.length > 0">
                                <li v-for="(expertise) in expertises">
                                    <a :href="expertise.user_id + '/expertise/' + expertise.expertise_id">
                                        <span><img :src="getExpertiseImage(expertise.expertise_id)" alt=""></span>
                                        <div class="content-expert">
                                            <h3>{{expertise.title}}</h3>
                                            <h4>Created {{getDateTime(expertise.created_at)}} in <b>{{expertise.category}}</b></h4>
                                            <p>{{expertise.description}}</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div v-show="expertises.length === 0">
                                <h1>Nothing to show</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 float-left">
                        <div class="request-cal">
                            <h3>${{user.hourly_rate ? user.hourly_rate : 0}}<span>/hour</span></h3>
                            <div class="starsec1">
                                <i class="fa fa-star" aria-hidden="true" v-for="review in reviews.slice(0, 5)"></i>
                                <b v-show="reviews.length == 0">No Ratings Found</b>
                                <b>({{reviews.length}})</b>
                            </div>
                            <div v-show="user.id !== authUser">
                                <a :href="user.username + '/booking'" class="btncal">Request a Call</a>
                                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send a Message</a>
                                <button v-show="addToFavorite" @click="addToFavorites"><i class="fa fa-heart-o" aria-hidden="true"></i> Save to Favorites</button>
                            </div>
                            <button v-show="addedToFavorite" class="added-to-fvrts"> Added to Favorites</button>
                            <div class="wishlist-info">saved {{user.favroite_count}} times</div>
                        </div>
                        <div class="righttab">
                            <div class="topsec">
                                <ul>
                                    <li>0<h4>Calls</h4></li>
                                    <li>0<h4>Reviews</h4></li>
                                </ul>
                            </div>
                            <div class="mdlsec">
                                <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h4>Verified</h4><a class="editbtn" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <h5><i class="fa fa-phone" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-facebook" aria-hidden="true"></i></h5>
                                </button>
                                <div class="collapse" id="collapseExample">
                                  <ul>
                                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Phone Number</a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                                  </ul>
                                </div>
                            </div>
                            <div class="linksec">
                                <a href="#" v-for="topic in user_topics" class="ml-1">{{topic.name}}</a>
                            </div>
                            <div class="promote">
                                <h3><a href="#">Promote on <i class="fa fa-linkedin" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-facebook" aria-hidden="true"></i> and more</a></h3>
                            </div>
                            <div class="btmsec">Member since May 2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sec6s">
            <div class="container" v-show="authUser != user.id">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                        <h1>Leave a Review</h1>
                        <ul>
                            <li><textarea placeholder="Start typing..." v-model="review_body"></textarea></li>
                            <li>
                                <input type="submit" value="Leave" @click="submitReview">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviewtop">
            <div class="container">
                <h3>Reviws <span>{{reviews.length}}</span></h3>
            </div>
        </div>
        <div class="reviewsec">
            <div class="container">
                <h3></h3>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                        <p v-show="reviews.length === 0">No Review Found</p>
                        <ul v-show="reviews.length > 0">
                            <li v-if="reviews.length > 0 && reviews.length >= index && index <= loadMore" v-for="index in loadMore">
                            	<span class="image">
                                    <img :src="reviews[index-1].profile_image" alt="" class="img-round">
                                </span>
                                <div class="detailsec1s">
                                	<p>{{reviews[index-1].body}}</p>
                                    <h4><a href=""><img src="images/img9.png" alt="">{{reviews[index-1].user_name}}</a> <b>{{getDateTime(reviews[index-1].created_at)}}</b></h4>
                                </div>
                            </li>
                        </ul>
                        <a class="ldbtn" @click="loadMore += 2" v-show="loadMore < reviews.length">Load more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="relatedsec">
            <div class="container">
                <h2>Related experts</h2>
                <ul v-for="expert in related_experts">
                    <li>
                        <a :href="'user/' + expert.username">
                             <span v-if="expert.profile_image" class="image">
                                <img :src="expert.profile_image" alt="" class="img-round">
                            </span>
                            <span v-else>{{expert.short_name}}</span>
                            <div class="inrrelat">
                                <h3>{{expert.name}}</h3>
                                <h4>{{expert.short_bio ? expert.short_bio : "Software Engineer"}}. <em></em> {{expert.location ? expert.location : "Pakistan"}}</h4>
                                <p>{{expert.mini_resume ? expert.mini_resume : "lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum"}}</p>
                                <h5>${{expert.hourly_rate ? expert.hourly_rate : 0}}<b>/hour</b></h5>
                                <button>Request a Call</button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
</div>
</template>
<script>
    export default {
        props: ['user','expertise_fvrt_user_ids','related_experts'],
        data() {
            return {
                expertises: [],
                loadMore: 5,
                authUser: window.authUser.id,
                expertises_images: [],
                user_topics: [],
                addToFavorite: true,
                addedToFavorite: false,
                review_body: "",
                reviews: []
            }
        },
		created() {
            this.getExpertiseByCategory();
            this.userTopics();
            this.getReviews()
            
            if(this.expertise_fvrt_user_ids.includes(this.authUser))
            {
                this.addToFavorite = false
                this.addedToFavorite = true
            }
		},
        methods: {
            getExpertiseByCategory()
            {
                const that = this;
                axios.post('api/browse/browse-expertise/', {user_id: this.user.id})
                .then(res => {
                    that.expertises = res.data.expertise;
                    that.expertises_images = res.data.expertise_images;
                });
            },
            getExpertiseImage(expertId){
                var image_url = this.expertises_images.filter(e => e.imageable_id == expertId).length ? this.expertises_images.filter(e => e.imageable_id == expertId)[0].image : 'images/thumb.jpg';
                return image_url;
            },
            userTopics(){
                const that = this;
                axios.post('api/topics/user-topics',{user_id: this.user.id}).then(res => {
                    that.user_topics = res.data.topics;
                });
            },
            addToFavorites(){
                const that = this;
                axios.post('api/favorites/add-to-favorites',{
                    user_id: this.user.id,
                    auth_user: this.authUser
                }).then(res => {
                    this.$toast.success(res.data.message, {  
                        timer: 10
                    });
                    that.addToFavorite = false;
                    that.addedToFavorite = true;
                });
            },
            getReviews(){
                const that = this;
                axios.post('api/reviews/get-reviews',{
                    user_id: this.user.id
                }).then(res => {
                    that.reviews = res.data.reviews;
                });
            },
            submitReview(){
                if(this.review_body == "")
                    this.$toast.error("Please enter something", {  
                        timer: 10
                    });
                else
                {
                    const that = this;
                    axios.post('api/reviews/save-review',{
                        auth_user: this.authUser,
                        body: this.review_body,
                        user_id: this.user.id
                    }).then(res => {
                        this.$toast.success(res.data.message, {  
                            timer: 10
                        });
                        that.review_body = "";
                        that.getReviews();
                    });
                }
            },
            getDateTime(date)
            {
                return human(new Date(date));
            }
        }
    }
</script>
<style scoped>
    textarea{
        border-left-width: 1px !important;
    }
</style>