<template>
<div>
     <section>
        <div class="bnr bnr-sub">
            <div class="container">
                <a :href="'account/profile'">Back</a>
            </div>
        </div>
        <div class="content-sec3">
            <div class="container">
                <h1>Connect social accounts to add credibility</h1>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 float-left">
                        <form>
                            <ul>
                                <li>
                                    <a href="login/google"><em><i class="fa fa-google" aria-hidden="true"></i> Google</em><span>Disconnected</span></a></li>
                                <li>
                                    <a href="login/facebook"><em><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</em><span>Disconnected</span></a></li>
                            </ul>
                        </form>
                        <h3>Tap to connect or disconnect</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
</template>
