<template>
<div>
    <section>
        <div class="bnr bnr-sub">
            <div class="container">
                <a :href="'/account/profile'">Back</a>
                <a :href="expertise.user_id + '/expertise/' + expertise.id" class="expertise">{{expertise.title.substring(0,25)+"..."}}</a>
            </div>
        </div>
        <div class="reviewsec inbox">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-8 col-md-8 col-sm-12 float-left">
                    	<ul>
                        	<li v-for="msg in messages">
                            	<span class="image">
                                    <img :src="msg.profile_image" alt="" class="img-round">
                                </span>
                                <div class="detailsec1s">
                                	<p>{{msg.body}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panel-footer">
        <div class="reviewsec">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-8 col-md-8 col-sm-12 float-left">
                    	<div class="input-group">
                            <textarea class="form-control" placeholder="Type your message here..." v-model="body"></textarea>
                            <span class="input-group-btn">
                                <button class="send-msg" @click="sendMsg">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
export default {
    name: "Create",
    props: ['expertise','conversation'],
    data() {
        return {
            authUser: window.authUser.id,
            body: "",
            messages: []
        }
    },
    mounted() {
        this.showMessages();
    },
    methods: {
        sendMsg() 
        {
            if(this.body == "")
                this.$toast.error("Message can't be empty.", {  
                    timer: 10
                });
            else
            {
                const that = this;
                axios.post('api/inbox/send', {
                    'body': this.body,
                    'expertise_id': this.expertise.id,
                    'user_id': this.authUser,
                    'conversation_id': this.conversation != 0 ? this.conversation.id : null
                }).then(res => {
                    this.$toast.success(res.data.message, {  
                        timer: 10
                    });
                    that.body = "";
                    that.showMessages();
                }).catch(err => {
                    this.$toast.error(err.response.data.message, {  
                        timer: 10
                    });
                });
            }
        },
        showMessages() 
        {
            // Echo.private('chat')
            // .listen('MessageSent', (e) => {
            //     this.messages.push({
            //         body: e.message.message,
            //         profile_image: e.user
            //     });
            // });
            const that = this;
            axios.post('api/inbox/show', {
                'expertise_id': this.expertise.id,
                'user_id': this.authUser,
                'conversation_id': this.conversation != 0 ? this.conversation.id : null
            }).then(res => {
                that.messages = res.data.messages;
            }).catch(err => {
                this.$toast.error(err.response.data.message, {  
                    timer: 10
                });
            });
        }
    }
}
</script>
<style scoped>
    .expertise{position: inherit !important; padding: 0 0 0 100px}
    .inbox{background: none !important; border-bottom: 0px}
    .panel-footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }
    .send-msg{
        margin-left: 10px;
        background-color: #41ca6d;
        background-image: -webkit-linear-gradient(top, #41ca6d, #2cc55d);
        color: #fff;
        border: 1px solid #239d4a;
        box-shadow: 0 1px 2px rgb(0 0 0 / 25%), inset 0 1px 0 rgb(255 255 255 / 35%), inset 0 -3px 10px rgb(255 255 255 / 30%);
        text-shadow: 0 1px 0 rgb(0 0 0 / 30%);
        height: 45px;
        line-height: 39px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        position: relative;
        text-transform: capitalize;
        width: 150px;
    }
    .detailsec1s{width: auto !important;}
</style>
