<template>
<div>
      <section>
    	<div class="bnr2">
        	<div class="container">
            	<div class="toptab">
                	<h1>Inbox</h1>
                    <ul class="nav" role="tablist">
                        <li>
                          <a class="active" data-toggle="tab" href="#unread">Unread</a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#all">All</a>
                        </li>
                     </ul>
                 </div>
            </div>
        </div>
        <div class="content-sec">
        	<div class="container">
                <div class="expertsec2s">
                	<!-- Tab panes -->
                      <div class="tab-content">
                        <div id="unread" class="container tab-pane active"><br>
                          <ul v-for="(conversation, index) in new_conversations">
                            <li>
                              <span class="image">
                                <img :src="getUserProfile(conversation)" alt="" class="img-round">
                              </span>
                              <div class="inboxcont">
                                <h3><a :href="'user/'+ getUserName(conversation)">{{getUser(conversation)}}</a> <b>{{getDateTime(conversation.messages[conversation.messages.length - 1].created_at)}}</b></h3>
                                  <div class="messagesec">
                                    <a :href="'inbox/conversation/'+conversation.id">{{conversation.messages[conversation.messages.length - 1].body}}</a>
                                  </div>
                              </div>
                            </li>
                          </ul>
                          <div class="errormsg" v-show="new_conversations.length == 0">
                          	<h4>No unread messages</h4>
                            <p>You can send messages to people you're pending a call with, or ask clarifying questions right from expert's profiles.</p>
                          </div>
                        </div>
                        <div id="all" class="container tab-pane fade"><br>
                          <ul v-for="(conversation, index) in new_conversations">
                            <li>
                              <span class="image">
                                <img :src="getUserProfile(conversation)" alt="" class="img-round">
                              </span>
                              <div class="inboxcont">
                                <h3><a :href="'user/'+ getUserName(conversation)">{{getUser(conversation)}}</a> <b>{{getDateTime(conversation.messages[conversation.messages.length - 1].created_at)}}</b></h3>
                                  <div class="messagesec">
                                    <a :href="'inbox/conversation/'+conversation.id">{{conversation.messages[conversation.messages.length - 1].body}}</a>
                                  </div>
                              </div>
                            </li>
                          </ul>
                          <div class="errormsg" v-show="old_conversations.length == 0">
                          	<h4>No messages</h4>
                            <p>You can send messages to people you're pending a call with, or ask clarifying questions right from expert's profiles.</p>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
export default {
    name: "Inbox",
    data() {
        return {
            authUser: window.authUser.id,
            new_conversations: [],
            old_conversations: [],
            hideNewConversation: false,
            users: [],
            aUHNOEC: false //authUserHasNotOwnExpertiseConversations
        }
    },
    mounted() {
        this.showMessages();
    },
    methods: {
        showMessages() 
        {
            const that = this;
            axios.post('api/inbox/my-inbox', {
                'user_id': this.authUser
            }).then(res => {
              var data = res.data.messages;
              that.users = res.data.users;
              var conversations = data.expertises.filter(e => e.conversations.length > 0).map(e => e.conversations);
              that.new_conversations = that.old_conversations = ([].concat(...conversations))
        
              if(that.new_conversations.length == 0)
              {
                this.aUHNOEC = true;
                that.new_conversations = that.old_conversations = res.data.conversations.conversations
              }
                
              // that.new_conversations = that.new_conversations.filter(e => e.status == 0)
              // that.checkNewMessages(conversations)
              // that.old_conversations = ([].concat(...conversations))
            }).catch(err => {
              this.$toast.error(err.response.data.message, {timer: 10});
            });
        },
        checkNewMessages(conversations){
          conversations = ([].concat(...conversations))
          conversations = conversations.filter(e => e.status == 0)
          for (var i = 0; i < conversations.length; i++){
            var messages = conversations[i].messages;
            if(messages[messages.length - 1 ].user_id == this.authUser)
            {
              this.hideNewConversation = true;
              this.new_conversations = []
            }
          }
        },
        getUser(conversation)
        {
          return this.aUHNOEC ? this.users.filter(e => e.id == conversation.expertise_user_id)[0].name : this.users.filter(e => e.id == conversation.user_id)[0].name;
        },
        getUserName(conversation)
        {
          return this.aUHNOEC ? this.users.filter(e => e.id == conversation.expertise_user_id)[0].username : this.users.filter(e => e.id == conversation.user_id)[0].username;
        },
        getUserProfile(conversation)
        {
          return this.aUHNOEC ? this.users.filter(e => e.id == conversation.expertise_user_id)[0].profile_image : this.users.filter(e => e.id == conversation.user_id)[0].profile_image;
        },
        getDateTime(date)
        {
            return human(new Date(date));
        }
    }
}
</script>
<style scoped>
  .expertsec2s ul li{
    border-bottom: 0px !important;
  }
</style>