<template>
    <div>
        <ul>
            <li v-for="ques in questions">
                <a :href="'answer-details/'+ques.id">{{ques.body}}</a><br>
                <a :href="'quote-answer/'+ques.id" class="quote-answer">Quote your answer</a>
                <div class="messagesec">
                    <a v-if="ques.answers.length > 0">{{ques.answers[ques.answers.length - 1].body}}<div class="authsec"><b><img :src="getUserProfile(ques.answers[ques.answers.length - 1].user.profile_image)" alt="image" class="border-radius"></b><h5>{{ques.answers[ques.answers.length - 1].user.name}}</h5></div></a>
                    <a v-if="ques.answers.length == 0">No one answer this question yet<div class="authsec"><b><img src="images/img1.png" alt=""></b><h5>Almarie Campbell</h5></div></a>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>

export default {
    name: "Answers",
    props: ['questions'],
    methods: {
        getUserProfile(image){
            return image ? 'storage/images/profile/' + image : 'images/img1.png';
        }
    }
}
</script>
<style scoped>
    .quote-answer{font-size: 12px !important;}
    .border-radius{border-radius: 50%}
</style>